/*
#0493D7
#06B1F5
#18FFFF
#026289
#99F1FF
#8FDFFF
#D1F9FF
#A9E7F1
#667E87
#9FAFB5
*/

/**
 * --------------------------------
 * Grid Overlay
 * ----------------------------- */
/* body.show-grid::before {
  content: '';
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 1390px;
  background-image: linear-gradient(transparent 95%, #fc414b 95%);
  background-size: 1px 24px;
}*/
body.overlay-grid::after {
  height: 1390px;
}
/**
 * --------------------------------
 * .page-header
 * ----------------------------- */

.page-header {
  height: 144px;
  background: #06B1F5;
}

.page-header::before {
  display: block;
  content: '';
  height: 24px;
  background: #0493D7;
}

.page-header .brand {
  margin-top: 12px;
  height: 48px;
  background: #18FFFF;
}

.page-header .gnb {
  float: left;
  margin-top: 24px;
}

.page-header .gnb li {
  width: 94px;
}

.page-header .gnb a {
  display: block;
  line-height: 24px;
  width: 94px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  background: #026289;
  color: rgba(255,255,255,0.2);
}

.page-header .function-button {
  float: right;
}

.page-header .search {
  margin-top: 24px;
  color: #666666;
}

.page-header .search:focus {
  outline: 3px solid #fff;
  color: #fff;
}

.page-header .sign-in {
  float: right;
  margin-top: 24px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: rgba(255,255,255,0.2);
  background: #003044;
}

.page-header .gnb a:focus, 
.page-header .search:focus,
.page-header .function-button a:focus {
  outline: 3px solid #fff;
  color: #fff;
}

.video-content .news-video {
  height: 264px;
  background: #99F1FF;
  position: relative;
}

.video-content .sports-video {
  height: 264px;
  background: #99F1FF;
  position: relative;
}

.video-content .play-button{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #8FDFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate( -50%, -50%);
}

.video-content .play-button::before {
  display: block;
  content: '';
  border-left: 28px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 50%;
  left: 54%;
  z-index: 2;
  transform: translate( -50%, -50%);
}

.post-content .main-content {
  height: 816px;
  background: #D1F9FF;
}

.post-content .aside-content {
  height: 504px;
  margin-bottom: 24px;
  background: #A9E7F1;
}

.post-content .banner-content,
.post-content .ad-content {
  height: 312px;
  margin-bottom: 24px;
  background: #A9E7F1;
}

/*.post-content .ad-content {
  float: right;
  height: 720px;
  margin-bottom: 24px;
  background: #7cd4e2;
}
*/
.page-footer {
  width: auto;
  height: 96px;
  margin-top: 24px;
  padding-top: 24px;
  background: #667E87;
}
.footer {
  width: 620px;
  height: 24px;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  background: #9FAFB5;
}
/**
 * --------------------------------
 * Common Grid Style Module
 * ----------------------------- */
.wrapper {
  width: 1218px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  /*padding-bottom: 24px;*/
}

