body {
  background-image: url(img/Background.png);
  background-repeat: no-repeat;
}
div { float: left; margin: 0; }
div.shadow { box-shadow: 0px 5px 3px #5D5D5D;}
img { vertical-align: bottom; }

.blank01 {  width: 1036px; height: 180px; }
.blank02 {  width: 465px; height: 28px; }
.blank03 {  width: 490px; height: 9px; }
.blank04 {  width: 426px; height: 56px; }
.blank05 {  width: 352px; height: 51px; margin-top: -38px;}
.blank06 {  width: 249px; height: 55px; }
.blank07 {  width: 270px; height: 40px; }
.blank08 {  width: 205px; height: 33px; }
.blank09 {  width: 237px; height: 66px; }
.blank10 {  width: 367px; height: 1px; }

.box03 { margin-top: -36px; }
.box04 { margin-top: -24px; }
.box06 { margin-top: -78px; }
.box07 { margin-top: -61px; margin-left: -10px;}
.box08 { margin-top: -64px; margin-left: 54px;}
/*                                       */
.box09 { margin-top: -62px; }
.box10 { margin-top: -12px; }
.box11 { margin-top: 8px; }
.box13 { margin-top: -11px; }
.box14 { margin-top: -33px; margin-left: -384px;}
.box15 { margin-top: -11px; }
.box17 { margin-top: -35px; margin-left: -249px;}

/*box-shadow: 0px 10px 5px #888888;*/