/*목록 초기와 재사용 가능한 스타일 모듈*/
.reset-list ul,
.reset-list ol,
ul.reset-list,
ol.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img { vertical-align: bottom; }

.cf:: after {
  content: '';
  display: block;
  clear: both;
}
/* ie6,7 대응 */
.lt-ie8 .cf { zoom: 1; }

.bb-img img + * ,.
img.bb-img + * {
  overflow: hidden;
}