@charset "utf-8";

/*
* -----------------------------------
* CSS 선택자
* -----------------------------------
* 요소 선택자 E
* 전체 선택자 *
* 자손 선택자 E(P)  E(C)
* 그룹핑 E, E, E
*/

/*
* -----------------------------------
* 요소 선택자 E
* 0001
* -----------------------------------
*/
body {
  /* margin: 0; */
  /* 글자 크기 변경 - 웹 브라우저 기본 크기 16px*/
  /* font-size: 20px; */
  /* 고정 값 px을 상대 값으로 변경하고자 한다면? 
     고정 값(기기에 따라 다르다) px
     20/16 - 16을 기본 값으로 생각하고 상대적인 비율값을 입력함 
  */
  font-size: 1.25em;
/* 이미지를 x4 큰 이미지 사이지(224px)로 제작했다. 
    x1  1/4
    x2  2/4
    x3  3/4
    x4  4/4
*/
}


/* 어떤게 좋은 코드 일지 고민하고 코딩해야 한다. */
/*h3{
  margin-top: 0;
  margin-bottom: 0;  
}
*/

/*body * {
  margin: 0;
}*/

/*
 -------------------------------------
 그룹핑 E, E, E
 -------------------------------------
 */
/*
리팩토링 - 공통적인 것을 묶어 주는 것이다.

초기화를 전체에 해주는 것은 성틍을 저하 시킨다.
필요한 색센에만 초기화를 하는 것이 좋다.
목적도 없이 모든것을 초기화는 것은 좋지 않다.

html * {
  margin: 0;
}
*/

/*
요소 + 그룹핑 + 아이디 + 전체 선택자
CSS선택자는 여러 유형이  조합되어 사용된다.

#아이디 선택자
 0100

.클래스 선택자
0010

*/
body, #shopping1 * {
  margin: 0;
}

/*
    자식 선택자 E(P) > E(C)
    > Child Combinator
    직계 자식을 가리키는 선택자
    원뎁스 투뎁스 네비게이션  중에서  원뎁스 자손에게만 적용할 때 사용한다.
    이렇게 사용하면 유지 보수가 어렵다, 그래서 class로 관리하는 것이 좋다.

    단락은 inline요소만 감쌀 수 있음 <p> <span> 안에는 블락 요소 넣으면 안됨
    html5 에서 <a> 는 inline 이지만 블락을 감쌀 수 있음, 하지만 링크 요소는 안됨

    스타일을 제거한다면 그 요소에 맞는 스타일을 입혀야 한다.
*/
#shopping1 > h4 {
  color: #FF0000;
}

.button {
  border: none;
  background-color: #000;
  color: #fff;
}

/*
클래스의 순서를 바꿔도 적용이 된다.
 ie6 에서는 클래스 순서를 변경하는 것이 적용안됨 
*/
.btn{

}
[ class="btn btn-cancel"]
.btn-buy { color: orange;  }
.btn .btn-cancel-buy { color: lime;  }
/* 공통적인것과 분리되는것을 계속 연습해야 한다.  */

/*
인접 형제 선택자 E + E

인접 형제 선택자 사용시, 주의점!!!
절대적으로 틀(프레임)이 무너지지 않아야 한다.
바뀔 가능성이 있는 요소에 대해서는 인접 형제 선택자를 쓰지 않는 것이 좋다.

*/
.parent ul { border: 1px solid red; }
.parent h4 + ul { border: none; }


/*
일반 형제 선택자 E ~ E
------------------------
 인접 형제 선택자와의 차이점 !!!
 인접 형제와 달라 인접하지 않아도 되며, 
 인접 형제가 1개인데 반해,
 일반 형제는 1개 이상이 될 수 없다.
*/

#shoppingGrpTab > #shopping1 ~ h3 a { color: #00FF00; }
#shoppingGrpTab > #shopping1 + h3 a { color: darkred; }


/* 
속성 선택자
[attr]
[attr = "value"]
*/
/*ID 선택자 = 속성 선택자로 변경*/
[id] { border: 4px double blue; }
/**/
/* alpha값 을 조정하는것으로 opacity 조절 */
[class] { outline: 3px solid rgba(255,255,0,0.5); }

/* 특정 ID 선택자를 찾고자 한다면?*/

/* #shopping3 {} */
/* class 안의 속성이 완전히 같은 요소에만 적용됨
    특정 조건에 맞는 요소에 적용하기 위해서 속성 선택자를 사용한다.
*/
[id="shopping3"] [class="screen_out"] {
  border: 4px solid #FF00FF;
}

#shopping3 [class^="screen_out"] {
  border: 4px solid #FF00FF;
}

#shopping3 [class$="screen_out"] {
  border: 4px solid #FF00FF;
}





