h4 {
  text-align: center;
  color: #1c48a3;
}
p, div { text-align: center; }
p.description {
  text-align: center;
  color: #989898;
}
a {
  text-decoration: none;
  color: #000;
}

.header a {
  line-height: 80px;
  text-align: center;
}
.nav li {
  position: relative;
  display: inline-block;
  line-height: 80px;
  margin-right: 41px;
  text-transform: capitalize;
}
.nav li::after {
  content: '';
  position: absolute;
  top: 37px;
  right: -15px;
  width: 6px;
  height: 4px;
  background: url('../img/icon-arrow-down.png' );
}

.header > * { height: 80px; }



.slider .content { position: relative; height: 480px; background: url(../img/Content.png); }

.slider .content h4 {text-align: left;top: 128px;}
.slider .content p.big-title {text-align: left;top: 201px;font-size: 40px;}
.slider .content p.description {text-align: left;top: 285px;}
.slider .content [class*="arrow"] {     
  height: 480px;
  line-height: 480px; 
}
.slider .buy-button {
  display: block;
  left: 28%;
  top: 355px;
  width: 163px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  background: #1f4ba5;
  color: white;
  text-align: center;
}


.slider [class*="slide-"] { display: block; height: 120px; background: #eee;}

[class*="slide-"]{ position: relative; }
[class*="slide-"]:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 120px;
  background: url(../img/hover.png);
}


.banner > *,
.featured > *,
.blog > *
 { height: 240px; }

[class*="-sale"] { position: relative; }

.banner .banner-women-sale {
  background: url("../img/banner-women.png");
}
.banner .banner-men-sale {
  background: url("../img/banner-men.png");
}
.banner .banner-accessories-sale {
  background: url("../img/banner-acc.png");
}
.banner .banner-women-sale .description {top: 84%;}
.banner .banner-women-sale .big-title {
  font-size: 2rem;
  top: 67%;
}
.banner .banner-men-sale p,
.banner .banner-accessories-sale p {
  font-size: 20px;
  color: #353535;
}
.banner .banner-men-sale h4 {top: 19%;}
.banner .banner-men-sale p {top: 81%;}
.banner .banner-accessories-sale h4 {top: 63%;}
.banner .banner-accessories-sale p {top: 81%;}

.featured > * ,
.blog > * { background: #fff; border: 1px solid #CCCCCC; }
.featured > * { position: relative; }
.featured .featured-header h4 {font-size: 1.5rem;top: 45%;}
.featured .featured-header .description {top: 73%;}
.featured .featured-header .icon {width: 15px;height: 82px;background: url(../img/svg-icon-ruby.png) no-repeat;top: 85px;}

.featured .feature-title {height: 70px; padding-top: 25px;font-size: 0.9rem;}
.featured .feature-img { height: 100px;  line-height: 70px; }
.featured .feature-tag { height: 70px;  line-height: 70px; position: relative;}
.featured .feature-cost { width: 118px; height: 70px;  line-height: 70px; font-weight: 900; }
.featured .feature-salecost {height: 70px; line-height: 70px;font-size: 0.7rem;color: gray;}




.blog .blog-header { position: relative; }
.blog .blog-header h4 {font-size: 1.5rem;top: 45%;}
.blog .blog-header .description {top: 73%;}
.blog .blog-header .icon {width: 15px;height: 82px;background: url(../img/svg-icon-news.png) no-repeat;top: 85px;}

.blog .blog-date { font-style: italic; color: #B3B3B3; font-size: 0.75rem; padding-top: 2.5rem;}
.blog .blog-title { font-size: 1.125rem;  padding-top: 1rem;}
.blog .blog-author { color: #B3B3B3; font-size: 0.625rem; padding-top: 1rem;}

.blog > :nth-last-child(1), 
.blog > :nth-last-child(2) { height: 120px; }
.blog > :nth-last-child(1) *,
.blog > :nth-last-child(2) * { text-align: left; }
.blog > :nth-last-child(1) .blog-date,
.blog > :nth-last-child(2) .blog-date { padding-top: 1rem; padding-left: 2rem;}

.blog > :nth-last-child(1) .blog-title,
.blog > :nth-last-child(2) .blog-title { font-size: 0.875rem; padding-top: 1rem; padding-left: 2rem;}

.blog .blog-article1:hover {
  background: url('../img/blog-hover.png');
  color: #fff;
}



.what-people-say,
.who-we-are {
  height: 480px;
  background: #fff;
  /*position: relative;*/
  /*border: 1px solid #CCCCCC;*/
}

.what-people-say .wps-chat,
.what-people-say .wps-title,
.what-people-say .wps-reload
 { height: 95px; line-height: 95px; }
.who-we-are .www-title,
.who-we-are .www-sub,
.who-we-are .www-icon
 { height: 100px; line-height: 100px; }
.what-people-say .wps-chat,
.what-people-say .wps-reload,
.who-we-are .www-icon, 
.who-we-are .pictures div { position: relative; }
.what-people-say h4, .who-we-are h4 { font-size: 1.125rem; top: 45%; }
.quote-title {
  font-weight: 200;
  font-style: italic;
  font-family: serif;
  color: #868686;
}
.www-sub { color: #868686; }

.what-people-say .quote { 
  height: 30px;
}
.what-people-say .quote-title {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 13px;
}
.what-people-say .wps-info { height: 100px; position: relative; }
.what-people-say .wps-nation {
  font-style: italic;
  font-family: serif;
  color: #B3B3B3; 
  font-size: 0.75rem; 
  top: 55%;
  left: 56%;}
.what-people-say .wps-pic {top: 45%;left: 35%;}
.what-people-say .wps-author {top: 36%;left: 59%;}
.what-people-say .wps-nation {top: 55%;left: 56%;}


.who-we-are .pictures > , .who-we-are .quote { height: 60px; }
.who-we-are .pictures div {
  height: 60px;
  background: #1f4ba5;
  color: #fff;
  } 
.who-we-are .pictures div img {left: 20%;}
.who-we-are .pictures h4 {
  padding-top: 12px;
  color: #fff;
}
.who-we-are .pictures p { 
  font-family: serif; 
  font-size: 0.75rem; 
  font-style: italic; 
}
.who-we-are .quote { 
  line-height: 50px;
}

.who-we-are .quote-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 13px;
}
.who-we-are .quote-content {
  color: #868686;
  font-size: 0.875rem;
  line-height: 1.4;
}


.brands > * { 
  position: relative; 
  height: 120px; 
  background: #fff; 
  border: 1px solid #eee; }

.footer { height: 180px; background: #222222;}
.footer > * { border: 1px solid #393939; }
/*.footer .category {  height: 60px; margin: 0 auto; }*/
.footer .category a ,
.footer .category .middot { 
  height: 60px; 
  line-height: 60px; 
  margin-left: 15px; 
  margin-right: 15px; 
  text-transform: capitalize;
  color: #fff; 
  font-size: 0.875rem;
}
.footer .category .middot {
  display: inline-block;
  color: #7F7F7F;
}

.footer .copyright, 
.footer .send-email * { 
  color: #7a7a7a; 
  font-size: 0.75rem;
  font-family: serif; 
  font-style: italic;
}
.footer .copyright {
  height: 120px; 
}
.footer .copyright img {
  padding-top: 25px;
  padding-bottom: 10px;
}

.footer .send-email .input-email {
  width: 360px;
  height: 30px;
  margin: 20px 60px 20px 60px;
  border-radius: 15px;
  background: #393939;
}
.footer .send-email .btn-icon {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.footer .send-email .btn-icon::before {
  background: url("../img/svg-icon-mail.png") no-repeat center center;
  background-size: 16px 14px;
  content: '';
  height: 100%;
  left: 70px;
  position: absolute;
  top: 0;
  width: 16px;
}
.footer .send-email .btn-icon::after {
  background: url("../img/svg-icon-footer-arrow-right.png") no-repeat center center;
  background-size: 15px 12px;
  content: '';
  height: 100%;
  left: 81%;
  position: absolute;
  top: 0;
  width: 15px;
}

.footer .send-email div { height: 50px; }
.footer .send-email a { 
  padding-right: 10px; 
  text-transform: capitalize;
  font-family: sans-serif;
  font-style: normal;
}

.footer .social a,
.footer .payment a {
  height: 58px;
  line-height: 58px;
  font-size: 1.8rem;
  color: #656565;
  padding-right: 10px;
  padding-left: 10px;
}

/*
COMMON Module
*/
.box-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper {
  width: 960px;
  height: 2300px;
  margin-left: auto;
  margin-right: auto;
}
