@import ../../../../Resources/init/ress.css
@import helpers/config
@import helpers/container
@import helpers/layout-flex
@import helpers/font
@import helpers/status

body
  background: #000
  color: #4e4e4e
.container
  @extend %sans
  +boxing(auto, 630px, transparent, (left: fluid-size(60px), right: fluid-size(60px)))
.header
  +flex-vert-center
  justify-content: space-between
  +boxing(100px, 630px, transparent, (top: fluid-size(55px)))
  h2
    flex: 1
    +flex-hor-center
    font-size: fluid-size(28px)
    font-weight: 400
    text-transform: uppercase
    color: #fff
  .header-left
    flex: 1
    +flex-hor-left
    order: -1
  .header-right
    flex: 1
    +flex-hor-right
  .btn-menu img
    +image(43px)
    // +hover-svg($sand, #favorite)
  .btn-bag img
    +image(38px)
    // +hover-svg($sand, #shopping)

.product-img  
  +flex-vert-center
  justify-content: space-between
  .nike-flynit
    position: relative
    +boxing(590px, 570px)
    img:first-child
      +pos-center(50%, 50%, 100)
      +image(200px)
    img:last-child
      +pos-center(50%, 50%, 50)
      +image(570px)
  .pagination img
    +image(16px)
  &::before
    content: ''

.product-info
  .product-name
    margin-top: fluid-size(50px)
    @extend %norwester
    font-size: fluid-size(60px)
    text-transform: uppercase
    color: #22e4fc
  .product-cost
    font-size: fluid-size(28px)
    color: #22e4fc
    del span
      padding-left: fluid-size(25px)
      padding-right: fluid-size(25px)
      color: #fff

.product-option
  font-size: fluid-size(28px)
  .selector
    +flex-vert-center
    +boxing(120px, 630px, null, (top: fluid-size(55px)))
    border-radius: fluid-size(55px)
    border: 1px solid #22e4fc
    select, label
      flex: 1
    label
      text-align: center
      text-transform: uppercase
      //+flex-hor-center

  .add-cart
    +boxing(120px, 630px, #22e4fc, (top: fluid-size(55px), bottom: fluid-size(55px)) )
    border-radius: fluid-size(55px)
    text-transform: uppercase
    color: #000