@charset "utf-8";

@media (min-width: 400px) { 
  body { background-image: url(../img/sea-mobile.png); } 
  .container { width: 100%; max-width: 320px; }
  .header { display: none; }
  .header-mobile { display: block; }
  .header-mobile .pop-menu { display: none; }
  .header-mobile .btn-menu:hover .pop-menu,
  .header-mobile .btn-menu:focus .pop-menu {
    display: block;
    position: absolute;
    background: #042940;
    top: -179%;
    left: -23%;
    z-index: 2;
  }
}
@media (min-width: 600px) { 
  body { background-image: url(../img/sea.png); } 
  .container { width: 100%; max-width: 1180px; }
  .header-mobile { display: none; }
  .header { display: block; }
  .header a {display: inline-block;position: relative;margin-left: 1.875rem;text-transform: none;}
  .header a:hover, .header a:focus { font-family: 'LatoWebBold'; }
  .header .gnb-menu { float: left; }
  .header .side-menu { float: right; }
  .header .search, .header .checkout {padding-left: 5px;}
  .header .search::before, 
  .header .checkout::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -30%;
    width: 30px;
    height: 23px;
    background-repeat: no-repeat;
  }
  .header .search::before { background-image: url(../img/search.png);}
  .header .checkout::before { background-image: url(../img/card.png);}

  /* Isolated Box Moduel */
  .iso-box { margin-top: -100%; margin-right: -100%; }
  .iso-row-0 { margin-left: calc(10%*0); }
  .iso-row-1 { margin-left: calc(10%*1); }
  .iso-row-2 { margin-left: calc(10%*2); }
  .iso-row-3 { margin-left: calc(10%*3); }
  .iso-row-4 { margin-left: calc(10%*4); }
  .iso-row-5 { margin-left: calc(10%*5); }
  .iso-row-6 { margin-left: calc(10%*6); }
  .iso-row-7 { margin-left: calc(10%*7); }
  .iso-row-8 { margin-left: calc(10%*8); }
  .iso-row-9 { margin-left: calc(10%*9); }
  .iso-col-0 { margin-top: calc(252px*0); }
  .iso-col-1 { margin-top: calc(252px*1); }
  .iso-col-2 { margin-top: calc(252px*2); }
  .iso-col-3 { margin-top: calc(252px*3); }
  .iso-col-4 { margin-top: calc(252px*4); }
}

body {
  font-family: 'LatoWebLight', sans-serif; 
  background-color: #042940;
  background-repeat: no-repeat;
  background-position: top center;
  color: #fff;
}
h2, 
h3 {
  margin: 0;
  line-height: 2.5625rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
h3, .play-button { font-family: 'LatoWebBold'; }
h2 { font-family: 'LatoWebHairline', sans-serif; font-size: 2rem; font-weight: 100;}
h3 { font-size: 1.6875rem; }
p { font-size: 1.125rem;  margin: 0; }
.wide-box p { font-size: 1.375rem; font-weight: 400; text-shadow: 0px 0px 5px rgba(0,0,0,0.85);}
.small-box p { font-weight: 600; text-shadow: 0px 0px 5px rgba(0,0,0,0.85);}
/*.play-button, .small-box { font-weight: 400; }*/
a { display: block; text-decoration: none; color: #fff; text-transform: uppercase; }
/*공통 모듈*/

.container {
  margin-right: auto;
  margin-left: auto;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 개별 행 모듈 */

.logo-box,
.header-mobile,
.btn-menu,
.btn-search,
.btn-card
{ position: relative; }


/* header-mobile */
.header-mobile::before {
  content: '';
  display: block;
  height: 1px;
  width: 95%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

.btn-menu,
.btn-search,
.btn-card { height: 100%; }

.play-button {
  position: relative;
  height: 42px;
  margin-top: 42px;
  margin-right: auto;
  margin-left: auto;
  width: 178px;
  text-align: center;
  border: 0.125rem solid #fff;
}
.play-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0,-50%);
  border-left: 10px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.play-button div { 
  width: 100%;
  left: 58%;
}

.contents div { background-size: cover; }
.sign-up, 
.visit-street {
  background: #8c7172;
}

.sign-up a,
.visit-street a {
  display: block;
  width: 60%;
  margin-top: 21px;
  text-align: center;
  border: 0.12rem solid #fff;
  transform: translate( 33%, 0);
}

@media (min-width: 400px) { 
  .cta h3 { width: 90%; margin-right: auto; margin-left: auto; }
  .clock { background-image: url(../img/clock-mobile.png); }
  .hope { background-image: url(../img/hope-mobile.png); }
  .leaf { background-image: url(../img/leaf-mobile.png); }
  .car { background-image: url(../img/car-mobile.png); }
  .turnel { background-image: url(../img/turnel-mobile.png); }
  .dog { background-image: url(../img/dog-mobile.png); }
  .library { background-image: url(../img/library-mobile.png); }
  .blur { background-image: url(../img/blur-mobile.png); }
  .singer { background-image: url(../img/singer-mobile.png); }
  .stair { background-image: url(../img/stair-mobile.png); }
  .concert { background-image: url(../img/concert-mobile.png); }
  .couple { background-image: url(../img/couple-mobile.png); }
  .joystick { background-image: url(../img/joystick-mobile.png); }
  .field { background-image: url(../img/field-mobile.png); }

  .contents p {  padding-top: 21px; }
  .sign-up p, .visit-street p { width: 70%; margin-right: auto; margin-left: auto; text-align: center; }
  .sign-up a, .visit-street a { font-size: 0.75rem; }
  .hope p { width: 75%; margin-left: 12%; text-align: right; }
  .car p { margin-right: 5%; text-align: right; }
  .turnel p { margin-left: 5%; }
  .dog p { width: 80%; margin-left: 5%; padding-top: 42px;}
  .singer p {width: 50%;margin-left: 45%;text-align: right;}
  .concert p { padding-top: 42px; text-align: center; }
  .couple p {width: 80%;margin-top: 60%;margin-right: auto;margin-left: auto;text-align: center;}
  .joystick p { width: 80%; padding-top: 7px; margin-right: auto; margin-left: auto; text-align: center; }

  .logo-footer {
    background: url(../img/logo-footer-mobile.png) no-repeat;
    background-position: center;
    line-height: 147px;
    text-align: center;
  }
  .share { display: none; }
  .share-mobile { margin-left: 5%;}
  .footer-menu { margin-left: 15%;}
  .facebook, .twitter, .youtube { position: relative; display: block; }
  .footer-menu a {line-height: 3rem;text-transform: none;}
  
}
@media (min-width: 600px) { 
  .cta h3 { width: 40%; margin-right: auto; margin-left: auto; }
  .clock { background-image: url(../img/clock.png); }
  .hope { background-image: url(../img/hope.png); }
  .leaf { background-image: url(../img/leaf.png); }
  .car { background-image: url(../img/car.png); }
  .turnel { background-image: url(../img/turnel.png); }
  .dog { background-image: url(../img/dog.png); }
  .library { background-image: url(../img/library.png); }
  .blur { background-image: url(../img/blur.png); }
  .singer { background-image: url(../img/singer.png); }
  .stair { background-image: url(../img/stair.png); }
  .concert { background-image: url(../img/concert.png); }
  .couple { background-image: url(../img/couple.png); }
  .joystick { background-image: url(../img/joystick.png); }
  .field { background-image: url(../img/field.png); }

  .sign-up p, .visit-street p { font-size: 1.375rem; line-height: 1.875rem; width: 55%; padding-top: 42px; margin-right: auto; margin-left: auto; text-align: center; }
  .sign-up a, .visit-street a { font-size: 1rem; line-height: 1.875rem; }
  .wide-box p, .small-box p { font-size: 1rem; line-height: 1.8125rem; }
  .hope p { width: 75%; margin-left: 12%; text-align: right; }
  .car p { margin-right: 5%; text-align: right; }
  .turnel p { margin-left: 5%; }
  .dog p { width: 80%;margin-left: 5%;padding-top: 21px; }
  .singer p { width: 50%; margin-top: 336px; margin-left: 5%; text-align: left; }
  .concert p { padding-top: 21px; margin-right: 5%; text-align: right; }
  .couple p { margin-top: 0; text-align: center; }
  .joystick p { width: 50%;padding-top: 21px;margin-left: 9%;text-align: left; }

  .footer { margin-top: 84px; }
  .logo-footer { 
    background: url(../img/logo-footer.png) no-repeat; 
    background-position: center;
    line-height: 147px; 
    text-align: center; 
  }
  .share-mobile { display: none; }
  .share {display: inline-block; float: right; line-height: 168px; text-align: right;}
  .share a, .footer-menu a {display: inline-block; margin-left: 3%; line-height: 1rem; vertical-align: middle;}
  .footer-menu {width: 60%;margin-left: 14%; line-height: 168px;}
  .footer-menu a { font-size: .875rem; }
}

.footer { width: 100%; background: #141728; }