@import url(../../../Resources/init/ress.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400|Merriweather+Sans:300,400);
.product-option div, .product-option p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.container {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19.46667vw;
  max-height: 146px;
  width: 100vw;
  max-width: 750px;
  background: transparent;
}

.header .header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  order: -1;
}

.header .header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header .btn-fav, .header .btn-cart, .header .btn-back {
  margin-left: 4vw;
  margin-right: 4vw;
  width: 4.26667vw;
  max-width: 32px;
  height: auto;
}

.header .btn-fav #favorite path, .header .btn-fav #favorite path {
  transition: 0.3s;
}

.header .btn-fav:hover #favorite path, .header .btn-fav:focus #favorite path {
  fill: #ddba76;
}

.header .btn-cart #shopping path, .header .btn-cart #shopping path {
  transition: 0.3s;
}

.header .btn-cart:hover #shopping path, .header .btn-cart:focus #shopping path {
  fill: #ddba76;
}

.header .btn-back #back path, .header .btn-back #back path {
  transition: 0.3s;
}

.header .btn-back:hover #back path, .header .btn-back:focus #back path {
  fill: #ddba76;
}

.product-img {
  height: 94.66667vw;
  max-height: 710px;
  width: 100vw;
  max-width: 750px;
}

.product-img img {
  height: 114.13333vw;
  max-height: 856px;
  width: 100vw;
  max-width: 750px;
  margin-top: -19.46667vw;
  position: relative;
  z-index: -1;
}

.product-info {
  display: flex;
  align-items: center;
  height: 16vw;
  max-height: 120px;
  width: 100vw;
  max-width: 750px;
  background: #333333;
  color: #fff;
}

.product-info .product-name, .product-info .product-price {
  flex: 1;
  font-weight: 300;
}

.product-info .product-name {
  display: flex;
  justify-content: flex-start;
  margin-left: 5.33333vw;
  font-size: 3.73333vw;
}

.product-info .product-price {
  display: flex;
  justify-content: flex-end;
  margin-right: 5.33333vw;
  font-size: 4vw;
}

.product-option {
  display: flex;
  align-items: center;
  height: 31.73333vw;
  max-height: 238px;
  width: 100vw;
  max-width: 750px;
  background: #fcfcfc;
}

.product-option div {
  font-size: 6.66667vw;
  line-height: 7.33333vw;
  color: #ddba76;
}

.product-option p {
  font-size: 3.46667vw;
  font-style: italic;
  font-weight: 300;
  text-transform: capitalize;
  color: #d8d8d8;
}

.product-option .size, .product-option .quantity, .product-option .color {
  display: flex;
  align-items: center;
  flex: 1;
  flex-flow: column;
}

.product-option .size .btn-color, .product-option .quantity .btn-color, .product-option .color .btn-color {
  width: 4.8vw;
  height: 4.8vw;
  margin-bottom: 3.33333vw;
  border: 6px solid #d8d8d8;
  border-radius: 50%;
  background: #333333;
}

.add-basket {
  display: flex;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 16vw;
  max-height: 120px;
  width: 100vw;
  max-width: 750px;
  background: #ddba76;
  font-size: 3.2vw;
  color: #fff;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoicHJvZHVjdDEuY3NzIiwic291cmNlcyI6WyJwcm9kdWN0MS5zYXNzIiwiaGVscGVycy9fY29uZmlnLnNhc3MiLCJoZWxwZXJzL19jb250YWluZXIuc2FzcyIsImhlbHBlcnMvX2xheW91dC1mbGV4LnNhc3MiLCJoZWxwZXJzL19mb250LnNhc3MiLCJoZWxwZXJzL19zdGF0dXMuc2FzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IFwiLi4vLi4vLi4vUmVzb3VyY2VzL2luaXQvcmVzcy5jc3NcIjtcbkBpbXBvcnQgXCJoZWxwZXJzL2NvbmZpZ1wiO1xuQGltcG9ydCBcImhlbHBlcnMvY29udGFpbmVyXCI7XG5AaW1wb3J0IFwiaGVscGVycy9sYXlvdXQtZmxleFwiO1xuQGltcG9ydCBcImhlbHBlcnMvZm9udFwiO1xuQGltcG9ydCBcImhlbHBlcnMvc3RhdHVzXCI7XG5cbi5jb250YWluZXIge1xuICBAZXh0ZW5kICVzYW5zOyB9XG5cbi5oZWFkZXIge1xuICBAaW5jbHVkZSBmbGV4LXZlcnQtY2VudGVyO1xuICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gIEBpbmNsdWRlIGJveGluZygxNDZweCwgNzUwcHgsIHRyYW5zcGFyZW50KTtcbiAgLmhlYWRlci1sZWZ0IHtcbiAgICBmbGV4OiAxO1xuICAgIEBpbmNsdWRlIGZsZXgtaG9yLWxlZnQ7XG4gICAgb3JkZXI6IC0xOyB9XG4gIC5oZWFkZXItcmlnaHQge1xuICAgIGZsZXg6IDE7XG4gICAgQGluY2x1ZGUgZmxleC1ob3ItcmlnaHQ7IH1cbiAgLmJ0bi1mYXYsIC5idG4tY2FydCwgLmJ0bi1iYWNrIHtcbiAgICBAaW5jbHVkZSBpbWFnZSgzMnB4LDMwcHgpOyB9XG4gIC5idG4tZmF2IHtcbiAgICBAaW5jbHVkZSBob3Zlci1zdmcoJHNhbmQsICNmYXZvcml0ZSk7IH1cbiAgLmJ0bi1jYXJ0IHtcbiAgICBAaW5jbHVkZSBob3Zlci1zdmcoJHNhbmQsICNzaG9wcGluZyk7IH1cbiAgLmJ0bi1iYWNrIHtcbiAgICBAaW5jbHVkZSBob3Zlci1zdmcoJHNhbmQsIFwiI2JhY2tcIik7IH0gfVxuXG4ucHJvZHVjdC1pbWcge1xuICBAaW5jbHVkZSBib3hpbmcoNzEwcHgsIDc1MHB4KTtcbiAgaW1nIHtcbiAgICBAaW5jbHVkZSBib3hpbmcoODU2cHgsIDc1MHB4LCBudWxsLCAodG9wOiBmbHVpZC1zaXplKC0xNDZweCkpICk7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIHotaW5kZXg6IC0xOyB9IH1cblxuLnByb2R1Y3QtaW5mbyB7XG4gIEBpbmNsdWRlIGZsZXgtdmVydC1jZW50ZXI7XG4gIEBpbmNsdWRlIGJveGluZygxMjBweCwgNzUwcHgsICRibGFjayApO1xuICBjb2xvcjogI2ZmZjtcbiAgLnByb2R1Y3QtbmFtZSwgLnByb2R1Y3QtcHJpY2Uge1xuICAgIGZsZXg6IDE7XG4gICAgZm9udC13ZWlnaHQ6IDMwMDsgfVxuICAucHJvZHVjdC1uYW1lIHtcbiAgICBAaW5jbHVkZSBmbGV4LWhvci1sZWZ0O1xuICAgIG1hcmdpbi1sZWZ0OiBmbHVpZC1zaXplKDQwcHgpO1xuICAgIGZvbnQtc2l6ZTogZmx1aWQtc2l6ZSgyOHB4KTsgfVxuICAucHJvZHVjdC1wcmljZSB7XG4gICAgQGluY2x1ZGUgZmxleC1ob3ItcmlnaHQ7XG4gICAgbWFyZ2luLXJpZ2h0OiBmbHVpZC1zaXplKDQwcHgpO1xuICAgIGZvbnQtc2l6ZTogZmx1aWQtc2l6ZSgzMHB4KTsgfSB9XG5cbi5wcm9kdWN0LW9wdGlvbiB7XG4gIEBpbmNsdWRlIGZsZXgtdmVydC1jZW50ZXI7XG4gIEBpbmNsdWRlIGJveGluZygyMzhweCwgNzUwcHgsICR3aGl0ZS1iZyk7XG4gIGRpdiB7XG4gICAgQGV4dGVuZCAlc2VyaWY7XG4gICAgZm9udC1zaXplOiBmbHVpZC1zaXplKDUwcHgpO1xuICAgIGxpbmUtaGVpZ2h0OiBmbHVpZC1zaXplKDU1cHgpO1xuICAgIGNvbG9yOiAkc2FuZDsgfVxuICBwIHtcbiAgICBmb250LXNpemU6IGZsdWlkLXNpemUoMjZweCk7XG4gICAgQGV4dGVuZCAlc2VyaWY7XG4gICAgZm9udC1zdHlsZTogaXRhbGljO1xuICAgIGZvbnQtd2VpZ2h0OiAzMDA7XG4gICAgdGV4dC10cmFuc2Zvcm06IGNhcGl0YWxpemU7XG4gICAgY29sb3I6ICRncmF5LWJnOyB9XG4gIC5zaXplLCAucXVhbnRpdHksIC5jb2xvciB7XG4gICAgQGluY2x1ZGUgZmxleC12ZXJ0LWNlbnRlcjtcbiAgICBmbGV4OiAxO1xuICAgIGZsZXgtZmxvdzogY29sdW1uO1xuICAgIC5idG4tY29sb3Ige1xuICAgICAgIHdpZHRoOiBmbHVpZC1zaXplKDM2cHgpO1xuICAgICAgIGhlaWdodDogZmx1aWQtc2l6ZSgzNnB4KTtcbiAgICAgICBtYXJnaW4tYm90dG9tOiBmbHVpZC1zaXplKDI1cHgpO1xuICAgICAgIGJvcmRlcjogNnB4IHNvbGlkICRncmF5LWJnO1xuICAgICAgIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgICAgICBiYWNrZ3JvdW5kOiAkYmxhY2s7IH0gfSB9XG5cbi5hZGQtYmFza2V0IHtcbiAgQGluY2x1ZGUgZmxleC1jZW50ZXI7XG4gIEBpbmNsdWRlIGJveGluZygxMjBweCwgNzUwcHgsICRzYW5kICk7XG4gIGZvbnQtc2l6ZTogZmx1aWQtc2l6ZSgyNHB4KTtcbiAgY29sb3I6ICNmZmY7IH1cbiIsIiRjb2JhbHQ6ICMyMjViOTk7XG4kYmxhY2s6ICMzMzMzMzM7XG4kc2FuZDogI2RkYmE3NjtcbiRncmV5aXNoOiAjYTRhNGE0O1xuJGJsYWNrLXR3bzogIzIyMjIyMjtcbiRncmF5LWJnOiAjZDhkOGQ4O1xuJGJlaWdlOiAjZTRjYWJjO1xuJGdyYXktYm94OiAjZWZlZmVmO1xuJGNlcmlzZTogI2VkMTQ1YjtcbiR3aGl0ZS1iZzogI2ZjZmNmYztcbiR3aGl0ZS10YWI6ICNmOWY5Zjk7XG4kYmxhY2stdGhyZWU6ICMwMzAzMDM7XG4kZGlzYWJsZS1ncmV5OiAjODI4MjgyO1xuJG1hc2tpbmctYmxhY2s6ICMxQTFBMUE7XG4kZ3JheS11bml0OiAjQUZBRkFGO1xuIiwiJHNjcmVlbi13aWR0aDogNzUwcHg7XG4kc2NyZWVuLWhlaWdodDogMTMzNHB4O1xuXG5AZnVuY3Rpb24gZmx1aWQtc2l6ZSgkc2l6ZSkge1xuICBAcmV0dXJuICgkc2l6ZS8kc2NyZWVuLXdpZHRoKSoxMDAjeyd2dyd9OyB9XG5cbiVjb250YWluZXIge1xuICB3aWR0aDogJHNjcmVlbi13aWR0aDtcbiAgaGVpZ2h0OiAkc2NyZWVuLWhlaWdodDsgfVxuXG5AbWl4aW4gcG9zLWNlbnRlciB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgbGVmdDogNTAlO1xuICB0b3A6IDUwJTtcbiAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwtNTAlKTsgfVxuXG4vL1xuLy8qIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS1cbi8vKiA8Ym94IG1peGluPlxuLy8qIG1hcmdpbjogdG9wIGxlZnQgcmlnaHQgYm90dG9tXG5cbkBtaXhpbiBib3hpbmcoJGhlaWdodCwgJHdpZHRoOiAkc2NyZWVuLXdpZHRoLCAkYmc6IG51bGwsICRtYXJnaW46IG51bGwsICRwYWRkaW5nOiBudWxsKSB7XG4gIGhlaWdodDogIGZsdWlkLXNpemUoJGhlaWdodCk7XG4gIG1heC1oZWlnaHQ6ICRoZWlnaHQ7XG4gIHdpZHRoOiAgZmx1aWQtc2l6ZSgkd2lkdGgpO1xuICBtYXgtd2lkdGg6ICR3aWR0aDtcbiAgYmFja2dyb3VuZDogJGJnO1xuICAvLyDrp4jsp4Qg6rCSIOy2lOy2nFxuICBAaWYgdHlwZS1vZigkbWFyZ2luKSA9PSBtYXAge1xuICAgIC8vIEBkZWJ1ZyAkbWFyZ2luXG4gICAgQGVhY2ggJGRpciwgJHZhbHVlIGluICRtYXJnaW4ge1xuICAgICAgbWFyZ2luOiB7XG4gICAgICAgICN7JGRpcn06ICR2YWx1ZTsgfSB9IH1cbiAgLy8g66as7Iqk7Yq47J28IOqyveyasFxuICBAaWYgdHlwZS1vZigkbWFyZ2luKSA9PSBsaXN0IHtcbiAgICBAaWYgbGVuZ3RoKCRtYXJnaW4pID09IDIge1xuICAgICAgbWFyZ2luOiB7XG4gICAgICAgIHRvcDogbnRoKCRtYXJnaW4sIDEpO1xuICAgICAgICBsZWZ0OiBudGgoJG1hcmdpbiwgMik7XG4gICAgICAgIHJpZ2h0OiBudGgoJG1hcmdpbiwgMik7XG4gICAgICAgIGJvdHRvbTogbnRoKCRtYXJnaW4sIDEpOyB9IH1cbiAgICBAZWxzZSBpZiBsZW5ndGgoJG1hcmdpbikgPT0gMyB7XG4gICAgICBtYXJnaW46IHtcbiAgICAgICAgdG9wOiBudGgoJG1hcmdpbiwgMSk7XG4gICAgICAgIGxlZnQ6IG50aCgkbWFyZ2luLCAyKTtcbiAgICAgICAgcmlnaHQ6IG50aCgkbWFyZ2luLCAzKTtcbiAgICAgICAgYm90dG9tOiBudGgoJG1hcmdpbiwgMSk7IH0gfVxuICAgIEBlbHNlIGlmIGxlbmd0aCgkbWFyZ2luKSA9PSA0IHtcbiAgICAgIG1hcmdpbjoge1xuICAgICAgICB0b3A6IG50aCgkbWFyZ2luLCAxKTtcbiAgICAgICAgbGVmdDogbnRoKCRtYXJnaW4sIDIpO1xuICAgICAgICByaWdodDogbnRoKCRtYXJnaW4sIDMpO1xuICAgICAgICBib3R0b206IG50aCgkbWFyZ2luLCA0KTsgfSB9IH1cbiAgLy8g7Yyo65SpIOqwkiDstpTstpwg6rO87KCVXG4gIEBpZiB0eXBlLW9mKCRwYWRkaW5nKSA9PSBtYXAge1xuICAgIC8vIEBkZWJ1ZyAkcGFkZGluZ1xuICAgIEBlYWNoICRkaXIsICR2YWx1ZSBpbiAkcGFkZGluZyB7XG4gICAgICBwYWRkaW5nOiB7XG4gICAgICAgICN7JGRpcn06ICR2YWx1ZTsgfSB9IH1cbiAgLy8g66as7Iqk7Yq47J28IOqyveyasFxuICBAaWYgdHlwZS1vZigkcGFkZGluZykgPT0gbGlzdCB7XG4gICAgQGlmIGxlbmd0aCgkcGFkZGluZykgPT0gMiB7XG4gICAgICBwYWRkaW5nOiB7XG4gICAgICAgIHRvcDogbnRoKCRwYWRkaW5nLCAxKTtcbiAgICAgICAgbGVmdDogbnRoKCRwYWRkaW5nLCAyKTtcbiAgICAgICAgcmlnaHQ6IG50aCgkcGFkZGluZywgMik7XG4gICAgICAgIGJvdHRvbTogbnRoKCRwYWRkaW5nLCAxKTsgfSB9XG4gICAgQGVsc2UgaWYgbGVuZ3RoKCRwYWRkaW5nKSA9PSAzIHtcbiAgICAgIHBhZGRpbmc6IHtcbiAgICAgICAgdG9wOiBudGgoJHBhZGRpbmcsIDEpO1xuICAgICAgICBsZWZ0OiBudGgoJHBhZGRpbmcsIDIpO1xuICAgICAgICByaWdodDogbnRoKCRwYWRkaW5nLCAzKTtcbiAgICAgICAgYm90dG9tOiBudGgoJHBhZGRpbmcsIDEpOyB9IH1cbiAgICBAZWxzZSBpZiBsZW5ndGgoJHBhZGRpbmcpID09IDQge1xuICAgICAgcGFkZGluZzoge1xuICAgICAgICB0b3A6IG50aCgkcGFkZGluZywgMSk7XG4gICAgICAgIGxlZnQ6IG50aCgkcGFkZGluZywgMik7XG4gICAgICAgIHJpZ2h0OiBudGgoJHBhZGRpbmcsIDMpO1xuICAgICAgICBib3R0b206IG50aCgkcGFkZGluZywgNCk7IH0gfSB9IH1cblxuQG1peGluIGltYWdlKCR3aWR0aCwgJG1hcmdpbjogbnVsbCkge1xuICBAaWYgJG1hcmdpbiAhPSBudWxsIHtcbiAgICBtYXJnaW4tbGVmdDogKCRtYXJnaW4vJHNjcmVlbi13aWR0aCkqMTAwI3sndncnfTtcbiAgICBtYXJnaW4tcmlnaHQ6ICgkbWFyZ2luLyRzY3JlZW4td2lkdGgpKjEwMCN7J3Z3J307IH1cbiAgd2lkdGg6ICgkd2lkdGgvJHNjcmVlbi13aWR0aCkqMTAwI3sndncnfTtcbiAgbWF4LXdpZHRoOiAkd2lkdGg7XG4gIGhlaWdodDogYXV0bzsgfVxuIiwiQG1peGluIGZsZXgtYm94IHtcbiAgZGlzcGxheTogZmxleDsgfVxuXG5AbWl4aW4gZmxleC1jZW50ZXIge1xuICBAaW5jbHVkZSBmbGV4LWJveDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7IH1cblxuQG1peGluIGZsZXgtdmVydC1jZW50ZXIge1xuICBAaW5jbHVkZSBmbGV4LWJveDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjsgfVxuXG5AbWl4aW4gZmxleC1ob3ItY2VudGVyIHtcbiAgQGluY2x1ZGUgZmxleC1ib3g7XG4gIGp1c3RpZnktY29udGVudDogY2VudGVyOyB9XG5cbkBtaXhpbiBmbGV4LWhvci1sZWZ0IHtcbiAgQGluY2x1ZGUgZmxleC1ib3g7XG4gIGp1c3RpZnktY29udGVudDogZmxleC1zdGFydDsgfVxuXG5AbWl4aW4gZmxleC1ob3ItcmlnaHQge1xuICBAaW5jbHVkZSBmbGV4LWJveDtcbiAganVzdGlmeS1jb250ZW50OiBmbGV4LWVuZDsgfVxuXG5AbWl4aW4gZmxleC1jZW50ZXIge1xuICBAaW5jbHVkZSBmbGV4LWJveDtcbiAgQGluY2x1ZGUgZmxleC1ob3ItY2VudGVyO1xuICBAaW5jbHVkZSBmbGV4LXZlcnQtY2VudGVyOyB9XG4iLCJAaW1wb3J0IHVybChodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9TWVycml3ZWF0aGVyOjMwMCw0MDB8TWVycml3ZWF0aGVyK1NhbnM6MzAwLDQwMCk7XG5cbiVzZXJpZiB7XG4gIGZvbnQtZmFtaWx5OiAnTWVycml3ZWF0aGVyJywgc2VyaWY7XG4gIGZvbnQtd2VpZ2h0OiA0MDA7IH1cblxuJXNhbnMge1xuICBmb250LWZhbWlseTogJ01lcnJpd2VhdGhlciBTYW5zJywgc2Fucy1zZXJpZjtcbiAgZm9udC13ZWlnaHQ6IDQwMDsgfVxuIiwiQG1peGluIGhvdmVyLWJnKCRjb2xvcjogbnVsbCkge1xuICB0cmFuc2l0aW9uOiAwLjNzO1xuICAmOmhvdmVyLCAmOmZvY3VzIHtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6ICRjb2xvcjsgfSB9XG5cbkBtaXhpbiBob3Zlci1zdmcoJGNvbG9yOiBudWxsLCAkaWQ6IG51bGwpIHtcbiAgJiAjeyRpZH0gcGF0aCwgJiAjeyRpZH0gcGF0aCB7XG4gICAgdHJhbnNpdGlvbjogMC4zczsgfVxuICAvLyBAaWYgdHlwZS1vZigkaWQpID09IGxpc3RcbiAgLy8gICBAZWFjaCAkaSBpbiAkaWRcbiAgLy8gICAgICY6aG92ZXIgI3skaX0gcGF0aCwgJjpmb2N1cyAjeyRpfSBwYXRoXG4gIC8vICAgICAgIGZpbGw6ICRjb2xvclxuICAvLyBAZWxzZVxuICAmOmhvdmVyICN7JGlkfSBwYXRoLCAmOmZvY3VzICN7JGlkfSBwYXRoIHtcbiAgICBmaWxsOiAkY29sb3I7IH0gfVxuIl0sIm1hcHBpbmdzIjoiQUFBQSxPQUFPLENBQVAscUNBQU87QUlBUCxPQUFPLENBQUMsMkZBQUk7QUpxRFosQUluREEsZUptRGUsQ0FHYixHQUFHLEVBSEwsQUluREEsZUptRGUsQ0FRYixDQUFDLENJM0RJO0VBQ0wsV0FBVyxFQUFFLHFCQUFzQjtFQUNuQyxXQUFXLEVBQUUsR0FBSTtDQUFHOztBSkd0QixBSURBLFVKQ1UsQ0lESjtFQUNKLFdBQVcsRUFBRSwrQkFBZ0M7RUFDN0MsV0FBVyxFQUFFLEdBQUk7Q0FBRzs7QUpFdEIsQUFBQSxPQUFPLENBQUM7RUdUTixPQUFPLEVBQUUsSUFBSztFQVNkLFdBQVcsRUFBRSxNQUFPO0VIRXBCLGVBQWUsRUFBRSxhQUFjO0VFVS9CLE1BQU0sRUFsQnVCLFVBQUM7RUFtQjlCLFVBQVUsRUZWTSxLQUFLO0VFV3JCLEtBQUssRUFwQndCLEtBQUM7RUFxQjlCLFNBQVMsRUZaYyxLQUFLO0VFYTVCLFVBQVUsRUZib0IsV0FBVztDQWVBOztBQWxCM0MsQUFJRSxPQUpLLENBSUwsWUFBWSxDQUFDO0VBQ1gsSUFBSSxFQUFFLENBQUU7RUdkVixPQUFPLEVBQUUsSUFBSztFQWlCZCxlQUFlLEVBQUUsVUFBVztFSEQxQixLQUFLLEVBQUUsRUFBRztDQUFHOztBQVBqQixBQVFFLE9BUkssQ0FRTCxhQUFhLENBQUM7RUFDWixJQUFJLEVBQUUsQ0FBRTtFR2xCVixPQUFPLEVBQUUsSUFBSztFQXFCZCxlQUFlLEVBQUUsUUFBUztDSEZFOztBQVY5QixBQVdFLE9BWEssQ0FXTCxRQUFRLEVBWFYsQUFXWSxPQVhMLENBV0ssU0FBUyxFQVhyQixBQVd1QixPQVhoQixDQVdnQixTQUFTLENBQUM7RUU2RDdCLFdBQVcsRUFBeUIsR0FBQztFQUNyQyxZQUFZLEVBQXlCLEdBQUM7RUFDeEMsS0FBSyxFQUF3QixTQUFDO0VBQzlCLFNBQVMsRUYvRFEsSUFBSTtFRWdFckIsTUFBTSxFQUFFLElBQUs7Q0ZoRWlCOztBQVpoQyxBS0pjLE9MSVAsQ0FhTCxRQUFRLENLakJOLFNBQVMsQ0FBQyxJQUFJLEVMSWxCLEFLSmdDLE9MSXpCLENBYUwsUUFBUSxDS2pCWSxTQUFTLENBQUMsSUFBSSxDQUFsQztFQUNFLFVBQVUsRUFBRSxJQUFLO0NBQUc7O0FMR3hCLEFLR29CLE9MSGIsQ0FhTCxRQUFRLEFLVlAsTUFBTSxDQUFDLFNBQVMsQ0FBQyxJQUFJLEVMSHhCLEFLRzRDLE9MSHJDLENBYUwsUUFBUSxBS1ZpQixNQUFNLENBQUMsU0FBUyxDQUFDLElBQUksQ0FBOUM7RUFDRSxJQUFJLEVKWkQsT0FBTztDSVlLOztBTEpuQixBS0pjLE9MSVAsQ0FlTCxTQUFTLENLbkJQLFNBQVMsQ0FBQyxJQUFJLEVMSWxCLEFLSmdDLE9MSXpCLENBZUwsU0FBUyxDS25CVyxTQUFTLENBQUMsSUFBSSxDQUFsQztFQUNFLFVBQVUsRUFBRSxJQUFLO0NBQUc7O0FMR3hCLEFLR29CLE9MSGIsQ0FlTCxTQUFTLEFLWlIsTUFBTSxDQUFDLFNBQVMsQ0FBQyxJQUFJLEVMSHhCLEFLRzRDLE9MSHJDLENBZUwsU0FBUyxBS1pnQixNQUFNLENBQUMsU0FBUyxDQUFDLElBQUksQ0FBOUM7RUFDRSxJQUFJLEVKWkQsT0FBTztDSVlLOztBTEpuQixBS0pVLE9MSUgsQ0FpQkwsU0FBUyxDS3JCUCxLQUFLLENBQUMsSUFBSSxFTElkLEFLSndCLE9MSWpCLENBaUJMLFNBQVMsQ0tyQk8sS0FBSyxDQUFDLElBQUksQ0FBMUI7RUFDRSxVQUFVLEVBQUUsSUFBSztDQUFHOztBTEd4QixBS0dnQixPTEhULENBaUJMLFNBQVMsQUtkUixNQUFNLENBQUMsS0FBSyxDQUFDLElBQUksRUxIcEIsQUtHb0MsT0xIN0IsQ0FpQkwsU0FBUyxBS2RZLE1BQU0sQ0FBQyxLQUFLLENBQUMsSUFBSSxDQUF0QztFQUNFLElBQUksRUpaRCxPQUFPO0NJWUs7O0FMZ0JuQixBQUFBLFlBQVksQ0FBQztFRVJYLE1BQU0sRUFsQnVCLFVBQUM7RUFtQjlCLFVBQVUsRUZRTSxLQUFLO0VFUHJCLEtBQUssRUFwQndCLEtBQUM7RUFxQjlCLFNBQVMsRUZNYyxLQUFLO0NBSVQ7O0FBTHJCLEFBRUUsWUFGVSxDQUVWLEdBQUcsQ0FBQztFRVZKLE1BQU0sRUFsQnVCLFdBQUM7RUFtQjlCLFVBQVUsRUZVUSxLQUFLO0VFVHZCLEtBQUssRUFwQndCLEtBQUM7RUFxQjlCLFNBQVMsRUZRZ0IsS0FBSztFRUYxQixNQUFNLEFBQUMsQ0FBQyxBQUNOLEdBQU8sRUE1QmdCLFdBQUM7RUY4QjVCLFFBQVEsRUFBRSxRQUFTO0VBQ25CLE9BQU8sRUFBRSxFQUFHO0NBQUc7O0FBRW5CLEFBQUEsYUFBYSxDQUFDO0VHcENaLE9BQU8sRUFBRSxJQUFLO0VBU2QsV0FBVyxFQUFFLE1BQU87RURZcEIsTUFBTSxFQWxCdUIsSUFBQztFQW1COUIsVUFBVSxFRmdCTSxLQUFLO0VFZnJCLEtBQUssRUFwQndCLEtBQUM7RUFxQjlCLFNBQVMsRUZjYyxLQUFLO0VFYjVCLFVBQVUsRUR6QkosT0FBTztFRHVDYixLQUFLLEVBQUUsSUFBSztDQVdzQjs7QUFkcEMsQUFJRSxhQUpXLENBSVgsYUFBYSxFQUpmLEFBSWlCLGFBSkosQ0FJSSxjQUFjLENBQUM7RUFDNUIsSUFBSSxFQUFFLENBQUU7RUFDUixXQUFXLEVBQUUsR0FBSTtDQUFHOztBQU54QixBQU9FLGFBUFcsQ0FPWCxhQUFhLENBQUM7RUczQ2QsT0FBTyxFQUFFLElBQUs7RUFpQmQsZUFBZSxFQUFFLFVBQVc7RUg0QjFCLFdBQVcsRUUxQ2dCLFNBQUM7RUYyQzVCLFNBQVMsRUUzQ2tCLFNBQUM7Q0YyQ0U7O0FBVmxDLEFBV0UsYUFYVyxDQVdYLGNBQWMsQ0FBQztFRy9DZixPQUFPLEVBQUUsSUFBSztFQXFCZCxlQUFlLEVBQUUsUUFBUztFSDRCeEIsWUFBWSxFRTlDZSxTQUFDO0VGK0M1QixTQUFTLEVFL0NrQixHQUFDO0NGK0NFOztBQUVsQyxBQUFBLGVBQWUsQ0FBQztFR3BEZCxPQUFPLEVBQUUsSUFBSztFQVNkLFdBQVcsRUFBRSxNQUFPO0VEWXBCLE1BQU0sRUFsQnVCLFVBQUM7RUFtQjlCLFVBQVUsRUZnQ00sS0FBSztFRS9CckIsS0FBSyxFQXBCd0IsS0FBQztFQXFCOUIsU0FBUyxFRjhCYyxLQUFLO0VFN0I1QixVQUFVLEVEakJELE9BQU87Q0RxRWM7O0FBekJoQyxBQUdFLGVBSGEsQ0FHYixHQUFHLENBQUM7RUFFRixTQUFTLEVFdERrQixTQUFDO0VGdUQ1QixXQUFXLEVFdkRnQixTQUFDO0VGd0Q1QixLQUFLLEVDMURGLE9BQU87Q0QwREs7O0FBUG5CLEFBUUUsZUFSYSxDQVFiLENBQUMsQ0FBQztFQUNBLFNBQVMsRUUxRGtCLFNBQUM7RUY0RDVCLFVBQVUsRUFBRSxNQUFPO0VBQ25CLFdBQVcsRUFBRSxHQUFJO0VBQ2pCLGNBQWMsRUFBRSxVQUFXO0VBQzNCLEtBQUssRUM5REMsT0FBTztDRDhESzs7QUFkdEIsQUFlRSxlQWZhLENBZWIsS0FBSyxFQWZQLEFBZVMsZUFmTSxDQWVOLFNBQVMsRUFmbEIsQUFlb0IsZUFmTCxDQWVLLE1BQU0sQ0FBQztFR25FekIsT0FBTyxFQUFFLElBQUs7RUFTZCxXQUFXLEVBQUUsTUFBTztFSDREbEIsSUFBSSxFQUFFLENBQUU7RUFDUixTQUFTLEVBQUUsTUFBTztDQU9ROztBQXpCOUIsQUFtQkksZUFuQlcsQ0FlYixLQUFLLENBSUgsVUFBVSxFQW5CZCxBQW1CSSxlQW5CVyxDQWVOLFNBQVMsQ0FJZCxVQUFVLEVBbkJkLEFBbUJJLGVBbkJXLENBZUssTUFBTSxDQUl0QixVQUFVLENBQUM7RUFDUixLQUFLLEVFckVtQixLQUFDO0VGc0V6QixNQUFNLEVFdEVrQixLQUFDO0VGdUV6QixhQUFhLEVFdkVXLFNBQUM7RUZ3RXpCLE1BQU0sRUFBRSxHQUFHLENBQUMsS0FBSyxDQ3ZFZCxPQUFPO0VEd0VWLGFBQWEsRUFBRSxHQUFJO0VBQ25CLFVBQVUsRUM3RVQsT0FBTztDRDZFYTs7QUFFNUIsQUFBQSxXQUFXLENBQUM7RUcvRVYsT0FBTyxFQUFFLElBQUs7RUFBZCxPQUFPLEVBQUUsSUFBSztFQWFkLGVBQWUsRUFBRSxNQUFPO0VBYnhCLE9BQU8sRUFBRSxJQUFLO0VBU2QsV0FBVyxFQUFFLE1BQU87RURZcEIsTUFBTSxFQWxCdUIsSUFBQztFQW1COUIsVUFBVSxFRjJETSxLQUFLO0VFMURyQixLQUFLLEVBcEJ3QixLQUFDO0VBcUI5QixTQUFTLEVGeURjLEtBQUs7RUV4RDVCLFVBQVUsRUR4QkwsT0FBTztFRGlGWixTQUFTLEVFL0VvQixLQUFDO0VGZ0Y5QixLQUFLLEVBQUUsSUFBSztDQUFHIiwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */
