@import url(../../../Resources/init/ress.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400|Merriweather+Sans:300,400);
.product-option div, .product-option p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.container {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19.46667vw;
  max-height: 210.24px;
  width: 100vw;
  max-width: 1080px;
  background: transparent;
}

.header .header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  order: -1;
}

.header .header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header .btn-fav, .header .btn-cart, .header .btn-back {
  margin-left: 4vw;
  margin-right: 4vw;
  width: 4.26667vw;
  max-width: 46.08px;
  height: auto;
}

.header .btn-fav #favorite path, .header .btn-fav #favorite path {
  transition: 0.3s;
}

.header .btn-fav:hover #favorite path, .header .btn-fav:focus #favorite path {
  fill: #ddba76;
}

.header .btn-cart #shopping path, .header .btn-cart #shopping path {
  transition: 0.3s;
}

.header .btn-cart:hover #shopping path, .header .btn-cart:focus #shopping path {
  fill: #ddba76;
}

.header .btn-back #back path, .header .btn-back #back path {
  transition: 0.3s;
}

.header .btn-back:hover #back path, .header .btn-back:focus #back path {
  fill: #ddba76;
}

.product-img {
  height: 94.66667vw;
  max-height: 1022.4px;
  width: 100vw;
  max-width: 1080px;
}

.product-img img {
  height: 114.13333vw;
  max-height: 1232.64px;
  width: 100vw;
  max-width: 1080px;
  margin-top: -19.46667vw;
  position: relative;
  z-index: -1;
}

.product-info {
  display: flex;
  align-items: center;
  height: 16vw;
  max-height: 172.8px;
  width: 100vw;
  max-width: 1080px;
  background: #333333;
  color: #fff;
}

.product-info .product-name, .product-info .product-price {
  flex: 1;
  font-weight: 300;
}

.product-info .product-name {
  display: flex;
  justify-content: flex-start;
  margin-left: 5.33333vw;
  font-size: 3.73333vw;
}

.product-info .product-price {
  display: flex;
  justify-content: flex-end;
  margin-right: 5.33333vw;
  font-size: 4vw;
}

.product-option {
  display: flex;
  align-items: center;
  height: 31.73333vw;
  max-height: 342.72px;
  width: 100vw;
  max-width: 1080px;
  background: #fcfcfc;
}

.product-option div {
  font-size: 6.66667vw;
  line-height: 7.33333vw;
  color: #ddba76;
}

.product-option p {
  font-size: 3.46667vw;
  font-style: italic;
  font-weight: 300;
  text-transform: capitalize;
  color: #AFAFAF;
}

.product-option .size, .product-option .quantity, .product-option .color {
  display: flex;
  align-items: center;
  flex: 1;
  flex-flow: column;
}

.product-option .size .btn-color, .product-option .quantity .btn-color, .product-option .color .btn-color {
  width: 4.8vw;
  height: 4.8vw;
  border: 0.93333vw solid #d8d8d8;
  border-radius: 50%;
  background: #333333;
}

.product-option .color div {
  line-height: 7.33333vw;
}

.add-basket {
  display: flex;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 16vw;
  max-height: 172.8px;
  width: 100vw;
  max-width: 1080px;
  background: #ddba76;
  font-size: 3.2vw;
  color: #fff;
  transition: 0.3s;
}

.add-basket:hover, .add-basket:focus {
  background: #d3a54d;
  border: 3px solid #956f25;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoicHJvZHVjdDEuY3NzIiwic291cmNlcyI6WyJwcm9kdWN0MS5zYXNzIiwiaGVscGVycy9fY29uZmlnLnNhc3MiLCJoZWxwZXJzL19jb250YWluZXIuc2FzcyIsImhlbHBlcnMvX2xheW91dC1mbGV4LnNhc3MiLCJoZWxwZXJzL19mb250LnNhc3MiLCJoZWxwZXJzL19zdGF0dXMuc2FzcyIsImhlbHBlcnMvX2J1dHRvbi1ob3Zlci5zYXNzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCIuLi8uLi8uLi9SZXNvdXJjZXMvaW5pdC9yZXNzLmNzc1wiO1xuQGltcG9ydCBcImhlbHBlcnMvY29uZmlnXCI7XG5AaW1wb3J0IFwiaGVscGVycy9jb250YWluZXJcIjtcbkBpbXBvcnQgXCJoZWxwZXJzL2xheW91dC1mbGV4XCI7XG5AaW1wb3J0IFwiaGVscGVycy9mb250XCI7XG5AaW1wb3J0IFwiaGVscGVycy9zdGF0dXNcIjtcbkBpbXBvcnQgXCJoZWxwZXJzL2J1dHRvbi1ob3ZlclwiO1xuXG4uY29udGFpbmVyIHtcbiAgQGV4dGVuZCAlc2FuczsgfVxuXG4uaGVhZGVyIHtcbiAgQGluY2x1ZGUgZmxleC12ZXJ0LWNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICBAaW5jbHVkZSBib3hpbmcoMTQ2cHgsIDc1MHB4LCB0cmFuc3BhcmVudCk7XG4gIC5oZWFkZXItbGVmdCB7XG4gICAgZmxleDogMTtcbiAgICBAaW5jbHVkZSBmbGV4LWhvci1sZWZ0O1xuICAgIG9yZGVyOiAtMTsgfVxuICAuaGVhZGVyLXJpZ2h0IHtcbiAgICBmbGV4OiAxO1xuICAgIEBpbmNsdWRlIGZsZXgtaG9yLXJpZ2h0OyB9XG4gIC5idG4tZmF2LCAuYnRuLWNhcnQsIC5idG4tYmFjayB7XG4gICAgQGluY2x1ZGUgaW1hZ2UoMzJweCwzMHB4KTsgfVxuICAuYnRuLWZhdiB7XG4gICAgQGluY2x1ZGUgaG92ZXItc3ZnKCRzYW5kLCAjZmF2b3JpdGUpOyB9XG4gIC5idG4tY2FydCB7XG4gICAgQGluY2x1ZGUgaG92ZXItc3ZnKCRzYW5kLCAjc2hvcHBpbmcpOyB9XG4gIC5idG4tYmFjayB7XG4gICAgQGluY2x1ZGUgaG92ZXItc3ZnKCRzYW5kLCBcIiNiYWNrXCIpOyB9IH1cblxuLnByb2R1Y3QtaW1nIHtcbiAgQGluY2x1ZGUgYm94aW5nKDcxMHB4LCA3NTBweCk7XG4gIGltZyB7XG4gICAgQGluY2x1ZGUgYm94aW5nKDg1NnB4LCA3NTBweCwgbnVsbCwgKHRvcDogZmx1aWQtc2l6ZSgtMTQ2cHgpKSApO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICB6LWluZGV4OiAtMTsgfSB9XG5cbi5wcm9kdWN0LWluZm8ge1xuICBAaW5jbHVkZSBmbGV4LXZlcnQtY2VudGVyO1xuICBAaW5jbHVkZSBib3hpbmcoMTIwcHgsIDc1MHB4LCAkYmxhY2sgKTtcbiAgY29sb3I6ICNmZmY7XG4gIC5wcm9kdWN0LW5hbWUsIC5wcm9kdWN0LXByaWNlIHtcbiAgICBmbGV4OiAxO1xuICAgIGZvbnQtd2VpZ2h0OiAzMDA7IH1cbiAgLnByb2R1Y3QtbmFtZSB7XG4gICAgQGluY2x1ZGUgZmxleC1ob3ItbGVmdDtcbiAgICBtYXJnaW4tbGVmdDogZmx1aWQtc2l6ZSg0MHB4KTtcbiAgICBmb250LXNpemU6IGZsdWlkLXNpemUoMjhweCk7IH1cbiAgLnByb2R1Y3QtcHJpY2Uge1xuICAgIEBpbmNsdWRlIGZsZXgtaG9yLXJpZ2h0O1xuICAgIG1hcmdpbi1yaWdodDogZmx1aWQtc2l6ZSg0MHB4KTtcbiAgICBmb250LXNpemU6IGZsdWlkLXNpemUoMzBweCk7IH0gfVxuXG4ucHJvZHVjdC1vcHRpb24ge1xuICBAaW5jbHVkZSBmbGV4LXZlcnQtY2VudGVyO1xuICBAaW5jbHVkZSBib3hpbmcoMjM4cHgsIDc1MHB4LCAkd2hpdGUtYmcpO1xuICBkaXYge1xuICAgIEBleHRlbmQgJXNlcmlmO1xuICAgIGZvbnQtc2l6ZTogZmx1aWQtc2l6ZSg1MHB4KTtcbiAgICBsaW5lLWhlaWdodDogZmx1aWQtc2l6ZSg1NXB4KTtcbiAgICBjb2xvcjogJHNhbmQ7IH1cbiAgcCB7XG4gICAgZm9udC1zaXplOiBmbHVpZC1zaXplKDI2cHgpO1xuICAgIEBleHRlbmQgJXNlcmlmO1xuICAgIGZvbnQtc3R5bGU6IGl0YWxpYztcbiAgICBmb250LXdlaWdodDogMzAwO1xuICAgIHRleHQtdHJhbnNmb3JtOiBjYXBpdGFsaXplO1xuICAgIGNvbG9yOiAkZ3JleS11bml0OyB9XG4gIC5zaXplLCAucXVhbnRpdHksIC5jb2xvciB7XG4gICAgQGluY2x1ZGUgZmxleC12ZXJ0LWNlbnRlcjtcbiAgICBmbGV4OiAxO1xuICAgIGZsZXgtZmxvdzogY29sdW1uO1xuICAgIC5idG4tY29sb3Ige1xuICAgICAgIHdpZHRoOiBmbHVpZC1zaXplKDM2cHgpO1xuICAgICAgIGhlaWdodDogZmx1aWQtc2l6ZSgzNnB4KTtcbiAgICAgICBib3JkZXI6IGZsdWlkLXNpemUoN3B4KSBzb2xpZCAkZ3JleS1iZztcbiAgICAgICBib3JkZXItcmFkaXVzOiA1MCU7XG4gICAgICAgYmFja2dyb3VuZDogJGJsYWNrOyB9IH1cbiAgLmNvbG9yIGRpdiB7XG4gICAgbGluZS1oZWlnaHQ6IGZsdWlkLXNpemUoNTVweCk7IH0gfVxuXG4uYWRkLWJhc2tldCB7XG4gIEBpbmNsdWRlIGZsZXgtY2VudGVyO1xuICBAaW5jbHVkZSBib3hpbmcoMTIwcHgsIDc1MHB4LCAkc2FuZCApO1xuICBmb250LXNpemU6IGZsdWlkLXNpemUoMjRweCk7XG4gIGNvbG9yOiAjZmZmO1xuICBAaW5jbHVkZSBidG4taG92ZXIoJHNhbmQpOyB9XG4iLCIkY29iYWx0OiAjMjI1Yjk5O1xuJGJsYWNrOiAjMzMzMzMzO1xuJHNhbmQ6ICNkZGJhNzY7XG4kZ3JleWlzaDogI2E0YTRhNDtcbiRibGFjay10d286ICMyMjIyMjI7XG4kZ3JleS1iZzogI2Q4ZDhkODtcbiRiZWlnZTogI2U0Y2FiYztcbiRncmV5LWJveDogI2VmZWZlZjtcbiRjZXJpc2U6ICNlZDE0NWI7XG4kd2hpdGUtYmc6ICNmY2ZjZmM7XG4kd2hpdGUtdGFiOiAjZjlmOWY5O1xuJGJsYWNrLXRocmVlOiAjMDMwMzAzO1xuJGRpc2FibGUtZ3JleTogIzgyODI4MjtcbiRtYXNraW5nLWJsYWNrOiAjMUExQTFBO1xuJGdyZXktdW5pdDogI0FGQUZBRjtcbiRkYXJrLXRhdXBlOiAjNzg2MDRiO1xuJHN0ZWVsOiAjNzA3NjhiO1xuJHNpbHZlci1iZzogI2JhYmZjNTtcbiRkYXJrLXNsYXRlLWJsdWU6ICMyMzQ2NmM7XG4kYmx1ZXktZ3JleTogIzhjOTJhNjtcbiRkYXJrOiAjMjQyNzMyO1xuJHRhYi1iZzogI2VhZWFlYTtcblxuJGNvbG9yczogKGNvYmFsdDogIzIyNWI5OSxibGFjazogIzMzMzMzMyxzYW5kOiAjZGRiYTc2LGdyZXlpc2g6ICNhNGE0YTQsYmxhY2stdHdvOiAjMjIyMjIyLGdyZXktYmc6ICNkOGQ4ZDgsYmVpZ2U6ICNlNGNhYmMsZ3JleS1ib3g6ICNlZmVmZWYsY2VyaXNlOiAjZWQxNDViLHdoaXRlLWJnOiAjZmNmY2ZjLHdoaXRlLXRhYjogI2Y5ZjlmOSxibGFjay10aHJlZTogIzAzMDMwMyxkaXNhYmxlLWdyZXk6ICM4MjgyODIsbWFza2luZy1ibGFjazogIzFBMUExQSxncmV5LXVuaXQ6ICNBRkFGQUYsZGFyay10YXVwZTogIzc4NjA0YixzdGVlbDogIzcwNzY4YixzaWx2ZXItYmc6ICNiYWJmYzUsZGFyay1zbGF0ZS1ibHVlOiAjMjM0NjZjLGJsdWV5LWdyZXk6ICM4YzkyYTYsZGFyazogIzI0MjczMix0YWItYmc6ICNlYWVhZWEpO1xuXG5cbkBmdW5jdGlvbiBjb2xvcigka2V5KSB7XG4gICAgQGlmIG5vdCBtYXAtaGFzLWtleSgkY29sb3JzLCAka2V5KSB7XG4gICAgICAgIEB3YXJuIFwiS2V5IGAjeyRrZXl9YCBub3QgZm91bmQgaW4gJGNvbG9ycyBtYXAuXCI7IH1cbiAgICBAcmV0dXJuIG1hcC1nZXQoJGNvbG9ycywgJGtleSk7IH1cbiIsIiRzY3JlZW4td2lkdGg6IDEwODBweDtcbiRzY3JlZW4taGVpZ2h0OiAxOTIwcHg7XG5cbkBmdW5jdGlvbiBmbHVpZC1zaXplKCRzaXplKSB7XG4gIEByZXR1cm4gKCRzaXplKjEuNDQvJHNjcmVlbi13aWR0aCkqMTAwI3sndncnfTsgfVxuXG4lY29udGFpbmVyIHtcbiAgd2lkdGg6ICRzY3JlZW4td2lkdGg7XG4gIGhlaWdodDogJHNjcmVlbi1oZWlnaHQ7IH1cblxuQG1peGluIHBvcy1jZW50ZXIge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGxlZnQ6IDUwJTtcbiAgdG9wOiA1MCU7XG4gIHRyYW5zZm9ybTogdHJhbnNsYXRlKC01MCUsLTUwJSk7IH1cbi8vXG4vLyogLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuLy8qIG1hcmdpbiDtlajsiJhcblxuQG1peGluIG1hcmdpbigkbWFyZ2luKSB7XG4gIC8vIOuniOynhCDqsJIg7LaU7LacXG4gIEBpZiB0eXBlLW9mKCRtYXJnaW4pID09IG1hcCB7XG4gICAgLy8gQGRlYnVnICRtYXJnaW5cbiAgICBAZWFjaCAkZGlyLCAkdmFsdWUgaW4gJG1hcmdpbiB7XG4gICAgICBtYXJnaW46IHtcbiAgICAgICAgI3skZGlyfTogJHZhbHVlOyB9IH0gfVxuICAvLyDrpqzsiqTtirjsnbwg6rK97JqwXG4gIEBpZiB0eXBlLW9mKCRtYXJnaW4pID09IGxpc3Qge1xuICAgIEBpZiBsZW5ndGgoJG1hcmdpbikgPT0gMiB7XG4gICAgICBtYXJnaW46IHtcbiAgICAgICAgdG9wOiBudGgoJG1hcmdpbiwgMSk7XG4gICAgICAgIGxlZnQ6IG50aCgkbWFyZ2luLCAyKTtcbiAgICAgICAgcmlnaHQ6IG50aCgkbWFyZ2luLCAyKTtcbiAgICAgICAgYm90dG9tOiBudGgoJG1hcmdpbiwgMSk7IH0gfVxuICAgIEBlbHNlIGlmIGxlbmd0aCgkbWFyZ2luKSA9PSAzIHtcbiAgICAgIG1hcmdpbjoge1xuICAgICAgICB0b3A6IG50aCgkbWFyZ2luLCAxKTtcbiAgICAgICAgbGVmdDogbnRoKCRtYXJnaW4sIDIpO1xuICAgICAgICByaWdodDogbnRoKCRtYXJnaW4sIDMpO1xuICAgICAgICBib3R0b206IG50aCgkbWFyZ2luLCAxKTsgfSB9XG4gICAgQGVsc2UgaWYgbGVuZ3RoKCRtYXJnaW4pID09IDQge1xuICAgICAgbWFyZ2luOiB7XG4gICAgICAgIHRvcDogbnRoKCRtYXJnaW4sIDEpO1xuICAgICAgICBsZWZ0OiBudGgoJG1hcmdpbiwgMik7XG4gICAgICAgIHJpZ2h0OiBudGgoJG1hcmdpbiwgMyk7XG4gICAgICAgIGJvdHRvbTogbnRoKCRtYXJnaW4sIDQpOyB9IH0gfVxuICBAZWxzZSBpZiB0eXBlLW9mKCRtYXJnaW4pID09IG51bWJlciB7XG4gICAgbWFyZ2luOiAkbWFyZ2luOyB9IH1cblxuXG5AbWl4aW4gcGFkZGluZygkcGFkZGluZykge1xuICAvLyDtjKjrlKkg6rCSIOy2lOy2nCDqs7zsoJVcbiAgQGlmIHR5cGUtb2YoJHBhZGRpbmcpID09IG1hcCB7XG4gICAgLy8gQGRlYnVnICRwYWRkaW5nXG4gICAgQGVhY2ggJGRpciwgJHZhbHVlIGluICRwYWRkaW5nIHtcbiAgICAgIHBhZGRpbmc6IHtcbiAgICAgICAgI3skZGlyfTogJHZhbHVlOyB9IH0gfVxuICAvLyDrpqzsiqTtirjsnbwg6rK97JqwXG4gIEBpZiB0eXBlLW9mKCRwYWRkaW5nKSA9PSBsaXN0IHtcbiAgICBAaWYgbGVuZ3RoKCRwYWRkaW5nKSA9PSAyIHtcbiAgICAgIHBhZGRpbmc6IHtcbiAgICAgICAgdG9wOiBudGgoJHBhZGRpbmcsIDEpO1xuICAgICAgICBsZWZ0OiBudGgoJHBhZGRpbmcsIDIpO1xuICAgICAgICByaWdodDogbnRoKCRwYWRkaW5nLCAyKTtcbiAgICAgICAgYm90dG9tOiBudGgoJHBhZGRpbmcsIDEpOyB9IH1cbiAgICBAZWxzZSBpZiBsZW5ndGgoJHBhZGRpbmcpID09IDMge1xuICAgICAgcGFkZGluZzoge1xuICAgICAgICB0b3A6IG50aCgkcGFkZGluZywgMSk7XG4gICAgICAgIGxlZnQ6IG50aCgkcGFkZGluZywgMik7XG4gICAgICAgIHJpZ2h0OiBudGgoJHBhZGRpbmcsIDMpO1xuICAgICAgICBib3R0b206IG50aCgkcGFkZGluZywgMSk7IH0gfVxuICAgIEBlbHNlIGlmIGxlbmd0aCgkcGFkZGluZykgPT0gNCB7XG4gICAgICBwYWRkaW5nOiB7XG4gICAgICAgIHRvcDogbnRoKCRwYWRkaW5nLCAxKTtcbiAgICAgICAgbGVmdDogbnRoKCRwYWRkaW5nLCAyKTtcbiAgICAgICAgcmlnaHQ6IG50aCgkcGFkZGluZywgMyk7XG4gICAgICAgIGJvdHRvbTogbnRoKCRwYWRkaW5nLCA0KTsgfSB9IH0gfVxuXG5cbi8vXG4vLyogLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuLy8qIDxib3ggbWl4aW4+XG4vLyogbWFyZ2luOiB0b3AgbGVmdCByaWdodCBib3R0b21cblxuQG1peGluIGJveGluZygkaGVpZ2h0LCAkd2lkdGg6ICRzY3JlZW4td2lkdGgsICRiZzogbnVsbCwgJG1hcmdpbjogbnVsbCwgJHBhZGRpbmc6IG51bGwpIHtcbiAgaGVpZ2h0OiAgZmx1aWQtc2l6ZSgkaGVpZ2h0KTtcbiAgbWF4LWhlaWdodDogJGhlaWdodCoxLjQ0O1xuICB3aWR0aDogIGZsdWlkLXNpemUoJHdpZHRoKTtcbiAgbWF4LXdpZHRoOiAkd2lkdGgqMS40NDtcbiAgYmFja2dyb3VuZDogJGJnO1xuICBAaW5jbHVkZSBtYXJnaW4oJG1hcmdpbik7XG4gIEBpbmNsdWRlIHBhZGRpbmcoJHBhZGRpbmcpOyB9XG5cblxuXG5AbWl4aW4gaW1hZ2UoJHdpZHRoLCAkbWFyZ2luOiBudWxsKSB7XG4gIEBpZiAkbWFyZ2luICE9IG51bGwge1xuICAgIG1hcmdpbi1sZWZ0OiBmbHVpZC1zaXplKCRtYXJnaW4pO1xuICAgIG1hcmdpbi1yaWdodDogZmx1aWQtc2l6ZSgkbWFyZ2luKTsgfVxuICB3aWR0aDogZmx1aWQtc2l6ZSgkd2lkdGgpO1xuICBtYXgtd2lkdGg6ICR3aWR0aCoxLjQ0O1xuICBoZWlnaHQ6IGF1dG87IH1cbiIsIkBtaXhpbiBmbGV4LWJveCB7XG4gIGRpc3BsYXk6IGZsZXg7IH1cblxuQG1peGluIGZsZXgtY2VudGVyIHtcbiAgQGluY2x1ZGUgZmxleC1ib3g7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGp1c3RpZnktY29udGVudDogY2VudGVyOyB9XG5cbkBtaXhpbiBmbGV4LXZlcnQtY2VudGVyIHtcbiAgQGluY2x1ZGUgZmxleC1ib3g7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7IH1cblxuQG1peGluIGZsZXgtaG9yLWNlbnRlciB7XG4gIEBpbmNsdWRlIGZsZXgtYm94O1xuICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjsgfVxuXG5AbWl4aW4gZmxleC1ob3ItbGVmdCB7XG4gIEBpbmNsdWRlIGZsZXgtYm94O1xuICBqdXN0aWZ5LWNvbnRlbnQ6IGZsZXgtc3RhcnQ7IH1cblxuQG1peGluIGZsZXgtaG9yLXJpZ2h0IHtcbiAgQGluY2x1ZGUgZmxleC1ib3g7XG4gIGp1c3RpZnktY29udGVudDogZmxleC1lbmQ7IH1cblxuQG1peGluIGZsZXgtY2VudGVyIHtcbiAgQGluY2x1ZGUgZmxleC1ib3g7XG4gIEBpbmNsdWRlIGZsZXgtaG9yLWNlbnRlcjtcbiAgQGluY2x1ZGUgZmxleC12ZXJ0LWNlbnRlcjsgfVxuIiwiQGltcG9ydCB1cmwoaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3M/ZmFtaWx5PU1lcnJpd2VhdGhlcjozMDAsNDAwfE1lcnJpd2VhdGhlcitTYW5zOjMwMCw0MDApO1xuXG4lc2VyaWYge1xuICBmb250LWZhbWlseTogJ01lcnJpd2VhdGhlcicsIHNlcmlmO1xuICBmb250LXdlaWdodDogNDAwOyB9XG5cbiVzYW5zIHtcbiAgZm9udC1mYW1pbHk6ICdNZXJyaXdlYXRoZXIgU2FucycsIHNhbnMtc2VyaWY7XG4gIGZvbnQtd2VpZ2h0OiA0MDA7IH1cbiIsIkBtaXhpbiBob3Zlci1iZygkY29sb3I6IG51bGwpIHtcbiAgdHJhbnNpdGlvbjogMC4zcztcbiAgJjpob3ZlciwgJjpmb2N1cyB7XG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkY29sb3I7IH0gfVxuXG5AbWl4aW4gaG92ZXItc3ZnKCRjb2xvcjogbnVsbCwgJGlkOiBudWxsKSB7XG4gICYgI3skaWR9IHBhdGgsICYgI3skaWR9IHBhdGgge1xuICAgIHRyYW5zaXRpb246IDAuM3M7IH1cbiAgLy8gQGlmIHR5cGUtb2YoJGlkKSA9PSBsaXN0XG4gIC8vICAgQGVhY2ggJGkgaW4gJGlkXG4gIC8vICAgICAmOmhvdmVyICN7JGl9IHBhdGgsICY6Zm9jdXMgI3skaX0gcGF0aFxuICAvLyAgICAgICBmaWxsOiAkY29sb3JcbiAgLy8gQGVsc2VcbiAgJjpob3ZlciAjeyRpZH0gcGF0aCwgJjpmb2N1cyAjeyRpZH0gcGF0aCB7XG4gICAgZmlsbDogJGNvbG9yOyB9IH1cbiIsIkBtaXhpbiBidG4taG92ZXIoJGNvbG9yLCAkZGFya2VuOiAxMCkge1xuICB0cmFuc2l0aW9uOiAwLjNzO1xuICAmOmhvdmVyLCAmOmZvY3VzIHtcbiAgICBiYWNrZ3JvdW5kOiBkYXJrZW4oJGNvbG9yLCAkZGFya2VuKTtcbiAgICBib3JkZXI6IDNweCBzb2xpZCBkYXJrZW4oJGNvbG9yLCAkZGFya2VuKjMpOyB9IH1cbiJdLCJtYXBwaW5ncyI6IkFBQUEsT0FBTyxDQUFQLHFDQUFPO0FJQVAsT0FBTyxDQUFDLDJGQUFJO0FKc0RaLEFJcERBLGVKb0RlLENBR2IsR0FBRyxFQUhMLEFJcERBLGVKb0RlLENBUWIsQ0FBQyxDSTVESTtFQUNMLFdBQVcsRUFBRSxxQkFBc0I7RUFDbkMsV0FBVyxFQUFFLEdBQUk7Q0FBRzs7QUpJdEIsQUlGQSxVSkVVLENJRko7RUFDSixXQUFXLEVBQUUsK0JBQWdDO0VBQzdDLFdBQVcsRUFBRSxHQUFJO0NBQUc7O0FKR3RCLEFBQUEsT0FBTyxDQUFDO0VHVk4sT0FBTyxFQUFFLElBQUs7RUFTZCxXQUFXLEVBQUUsTUFBTztFSEdwQixlQUFlLEVBQUUsYUFBYztFRXdFL0IsTUFBTSxFQWpGNEIsVUFBQztFQWtGbkMsVUFBVSxFQUFFLFFBQU87RUFDbkIsS0FBSyxFQW5GNkIsS0FBQztFQW9GbkMsU0FBUyxFQUFFLE1BQU07RUFDakIsVUFBVSxFRjNFb0IsV0FBVztDQWVBOztBQWxCM0MsQUFJRSxPQUpLLENBSUwsWUFBWSxDQUFDO0VBQ1gsSUFBSSxFQUFFLENBQUU7RUdmVixPQUFPLEVBQUUsSUFBSztFQWlCZCxlQUFlLEVBQUUsVUFBVztFSEExQixLQUFLLEVBQUUsRUFBRztDQUFHOztBQVBqQixBQVFFLE9BUkssQ0FRTCxhQUFhLENBQUM7RUFDWixJQUFJLEVBQUUsQ0FBRTtFR25CVixPQUFPLEVBQUUsSUFBSztFQXFCZCxlQUFlLEVBQUUsUUFBUztDSERFOztBQVY5QixBQVdFLE9BWEssQ0FXTCxRQUFRLEVBWFYsQUFXWSxPQVhMLENBV0ssU0FBUyxFQVhyQixBQVd1QixPQVhoQixDQVdnQixTQUFTLENBQUM7RUUyRTdCLFdBQVcsRUE3RnFCLEdBQUM7RUE4RmpDLFlBQVksRUE5Rm9CLEdBQUM7RUErRm5DLEtBQUssRUEvRjZCLFNBQUM7RUFnR25DLFNBQVMsRUFBRSxPQUFNO0VBQ2pCLE1BQU0sRUFBRSxJQUFLO0NGOUVpQjs7QUFaaEMsQUtMYyxPTEtQLENBYUwsUUFBUSxDS2xCTixTQUFTLENBQUMsSUFBSSxFTEtsQixBS0xnQyxPTEt6QixDQWFMLFFBQVEsQ0tsQlksU0FBUyxDQUFDLElBQUksQ0FBbEM7RUFDRSxVQUFVLEVBQUUsSUFBSztDQUFHOztBTEl4QixBS0VvQixPTEZiLENBYUwsUUFBUSxBS1hQLE1BQU0sQ0FBQyxTQUFTLENBQUMsSUFBSSxFTEZ4QixBS0U0QyxPTEZyQyxDQWFMLFFBQVEsQUtYaUIsTUFBTSxDQUFDLFNBQVMsQ0FBQyxJQUFJLENBQTlDO0VBQ0UsSUFBSSxFSlpELE9BQU87Q0lZSzs7QUxIbkIsQUtMYyxPTEtQLENBZUwsU0FBUyxDS3BCUCxTQUFTLENBQUMsSUFBSSxFTEtsQixBS0xnQyxPTEt6QixDQWVMLFNBQVMsQ0twQlcsU0FBUyxDQUFDLElBQUksQ0FBbEM7RUFDRSxVQUFVLEVBQUUsSUFBSztDQUFHOztBTEl4QixBS0VvQixPTEZiLENBZUwsU0FBUyxBS2JSLE1BQU0sQ0FBQyxTQUFTLENBQUMsSUFBSSxFTEZ4QixBS0U0QyxPTEZyQyxDQWVMLFNBQVMsQUtiZ0IsTUFBTSxDQUFDLFNBQVMsQ0FBQyxJQUFJLENBQTlDO0VBQ0UsSUFBSSxFSlpELE9BQU87Q0lZSzs7QUxIbkIsQUtMVSxPTEtILENBaUJMLFNBQVMsQ0t0QlAsS0FBSyxDQUFDLElBQUksRUxLZCxBS0x3QixPTEtqQixDQWlCTCxTQUFTLENLdEJPLEtBQUssQ0FBQyxJQUFJLENBQTFCO0VBQ0UsVUFBVSxFQUFFLElBQUs7Q0FBRzs7QUxJeEIsQUtFZ0IsT0xGVCxDQWlCTCxTQUFTLEFLZlIsTUFBTSxDQUFDLEtBQUssQ0FBQyxJQUFJLEVMRnBCLEFLRW9DLE9MRjdCLENBaUJMLFNBQVMsQUtmWSxNQUFNLENBQUMsS0FBSyxDQUFDLElBQUksQ0FBdEM7RUFDRSxJQUFJLEVKWkQsT0FBTztDSVlLOztBTGlCbkIsQUFBQSxZQUFZLENBQUM7RUVzRFgsTUFBTSxFQWpGNEIsVUFBQztFQWtGbkMsVUFBVSxFQUFFLFFBQU87RUFDbkIsS0FBSyxFQW5GNkIsS0FBQztFQW9GbkMsU0FBUyxFQUFFLE1BQU07Q0ZwREU7O0FBTHJCLEFBRUUsWUFGVSxDQUVWLEdBQUcsQ0FBQztFRW9ESixNQUFNLEVBakY0QixXQUFDO0VBa0ZuQyxVQUFVLEVBQUUsU0FBTztFQUNuQixLQUFLLEVBbkY2QixLQUFDO0VBb0ZuQyxTQUFTLEVBQUUsTUFBTTtFQWhFYixNQUFNLEFBQUMsQ0FBQyxBQUNOLEdBQU8sRUFyQnFCLFdBQUM7RUYrQmpDLFFBQVEsRUFBRSxRQUFTO0VBQ25CLE9BQU8sRUFBRSxFQUFHO0NBQUc7O0FBRW5CLEFBQUEsYUFBYSxDQUFDO0VHckNaLE9BQU8sRUFBRSxJQUFLO0VBU2QsV0FBVyxFQUFFLE1BQU87RUQyRXBCLE1BQU0sRUFqRjRCLElBQUM7RUFrRm5DLFVBQVUsRUFBRSxPQUFPO0VBQ25CLEtBQUssRUFuRjZCLEtBQUM7RUFvRm5DLFNBQVMsRUFBRSxNQUFNO0VBQ2pCLFVBQVUsRUR4RkosT0FBTztFRHdDYixLQUFLLEVBQUUsSUFBSztDQVdzQjs7QUFkcEMsQUFJRSxhQUpXLENBSVgsYUFBYSxFQUpmLEFBSWlCLGFBSkosQ0FJSSxjQUFjLENBQUM7RUFDNUIsSUFBSSxFQUFFLENBQUU7RUFDUixXQUFXLEVBQUUsR0FBSTtDQUFHOztBQU54QixBQU9FLGFBUFcsQ0FPWCxhQUFhLENBQUM7RUc1Q2QsT0FBTyxFQUFFLElBQUs7RUFpQmQsZUFBZSxFQUFFLFVBQVc7RUg2QjFCLFdBQVcsRUUzQ3FCLFNBQUM7RUY0Q2pDLFNBQVMsRUU1Q3VCLFNBQUM7Q0Y0Q0g7O0FBVmxDLEFBV0UsYUFYVyxDQVdYLGNBQWMsQ0FBQztFR2hEZixPQUFPLEVBQUUsSUFBSztFQXFCZCxlQUFlLEVBQUUsUUFBUztFSDZCeEIsWUFBWSxFRS9Db0IsU0FBQztFRmdEakMsU0FBUyxFRWhEdUIsR0FBQztDRmdESDs7QUFFbEMsQUFBQSxlQUFlLENBQUM7RUdyRGQsT0FBTyxFQUFFLElBQUs7RUFTZCxXQUFXLEVBQUUsTUFBTztFRDJFcEIsTUFBTSxFQWpGNEIsVUFBQztFQWtGbkMsVUFBVSxFQUFFLFFBQU87RUFDbkIsS0FBSyxFQW5GNkIsS0FBQztFQW9GbkMsU0FBUyxFQUFFLE1BQU07RUFDakIsVUFBVSxFRGhGRCxPQUFPO0NEdUVvQjs7QUExQnRDLEFBR0UsZUFIYSxDQUdiLEdBQUcsQ0FBQztFQUVGLFNBQVMsRUV2RHVCLFNBQUM7RUZ3RGpDLFdBQVcsRUV4RHFCLFNBQUM7RUZ5RGpDLEtBQUssRUMzREYsT0FBTztDRDJESzs7QUFQbkIsQUFRRSxlQVJhLENBUWIsQ0FBQyxDQUFDO0VBQ0EsU0FBUyxFRTNEdUIsU0FBQztFRjZEakMsVUFBVSxFQUFFLE1BQU87RUFDbkIsV0FBVyxFQUFFLEdBQUk7RUFDakIsY0FBYyxFQUFFLFVBQVc7RUFDM0IsS0FBSyxFQ3RERyxPQUFPO0NEc0RLOztBQWR4QixBQWVFLGVBZmEsQ0FlYixLQUFLLEVBZlAsQUFlUyxlQWZNLENBZU4sU0FBUyxFQWZsQixBQWVvQixlQWZMLENBZUssTUFBTSxDQUFDO0VHcEV6QixPQUFPLEVBQUUsSUFBSztFQVNkLFdBQVcsRUFBRSxNQUFPO0VINkRsQixJQUFJLEVBQUUsQ0FBRTtFQUNSLFNBQVMsRUFBRSxNQUFPO0NBTVE7O0FBeEI5QixBQW1CSSxlQW5CVyxDQWViLEtBQUssQ0FJSCxVQUFVLEVBbkJkLEFBbUJJLGVBbkJXLENBZU4sU0FBUyxDQUlkLFVBQVUsRUFuQmQsQUFtQkksZUFuQlcsQ0FlSyxNQUFNLENBSXRCLFVBQVUsQ0FBQztFQUNSLEtBQUssRUV0RXdCLEtBQUM7RUZ1RTlCLE1BQU0sRUV2RXVCLEtBQUM7RUZ3RTlCLE1BQU0sRUV4RXVCLFNBQUMsQ0Z3RU4sS0FBSyxDQ3ZFMUIsT0FBTztFRHdFVixhQUFhLEVBQUUsR0FBSTtFQUNuQixVQUFVLEVDN0VULE9BQU87Q0Q2RWE7O0FBeEI1QixBQXlCUyxlQXpCTSxDQXlCYixNQUFNLENBQUMsR0FBRyxDQUFDO0VBQ1QsV0FBVyxFRTVFcUIsU0FBQztDRjRFRDs7QUFFcEMsQUFBQSxXQUFXLENBQUM7RUdqRlYsT0FBTyxFQUFFLElBQUs7RUFBZCxPQUFPLEVBQUUsSUFBSztFQWFkLGVBQWUsRUFBRSxNQUFPO0VBYnhCLE9BQU8sRUFBRSxJQUFLO0VBU2QsV0FBVyxFQUFFLE1BQU87RUQyRXBCLE1BQU0sRUFqRjRCLElBQUM7RUFrRm5DLFVBQVUsRUFBRSxPQUFPO0VBQ25CLEtBQUssRUFuRjZCLEtBQUM7RUFvRm5DLFNBQVMsRUFBRSxNQUFNO0VBQ2pCLFVBQVUsRUR2RkwsT0FBTztFRG1GWixTQUFTLEVFakZ5QixLQUFDO0VGa0ZuQyxLQUFLLEVBQUUsSUFBSztFTXJGWixVQUFVLEVBQUUsSUFBSztDTnNGVzs7QUFMOUIsQUFBQSxXQUFXLEFNaEZSLE1BQU0sRU5nRlQsQUFBQSxXQUFXLEFNaEZDLE1BQU0sQ0FBQztFQUNmLFVBQVUsRUFBRSxPQUFNO0VBQ2xCLE1BQU0sRUFBRSxHQUFHLENBQUMsS0FBSyxDQUFDLE9BQU07Q0FBc0IiLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
