@import url(../../../../Resources/init/ress.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'Norwester';
  font-style: normal;
  font-weight: normal;
  src: local("Norwester"), url("../font/norwester/norwester.woff") format("woff");
}

.product-info .product-name {
  font-family: 'Norwester', sans-serif;
  font-weight: 400;
}

.container {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body {
  background: #000;
  color: #4e4e4e;
}

.container {
  height: auto;
  width: 84vw;
  max-width: 907.2px;
  background: transparent;
  margin-left: 8vw;
  margin-right: 8vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 13.33333vw;
  max-height: 144px;
  width: 84vw;
  max-width: 907.2px;
  background: transparent;
  margin-top: 7.33333vw;
}

.header h2 {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 3.73333vw;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.header .header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  order: -1;
}

.header .header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header .btn-menu img {
  width: 5.73333vw;
  max-width: 61.92px;
  height: auto;
}

.header .btn-bag img {
  width: 5.06667vw;
  max-width: 54.72px;
  height: auto;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-img .nike-flynit {
  position: relative;
  height: 78.66667vw;
  max-height: 849.6px;
  width: 76vw;
  max-width: 820.8px;
}

.product-img .nike-flynit img:first-child {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 26.66667vw;
  max-width: 288px;
  height: auto;
}

.product-img .nike-flynit img:last-child {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  width: 76vw;
  max-width: 820.8px;
  height: auto;
}

.product-img .pagination img {
  width: 2.13333vw;
  max-width: 23.04px;
  height: auto;
}

.product-img::before {
  content: '';
}

.product-info .product-name {
  margin-top: 6.66667vw;
  font-size: 8vw;
  text-transform: uppercase;
  color: #22e4fc;
}

.product-info .product-cost {
  font-size: 3.73333vw;
  color: #22e4fc;
}

.product-info .product-cost del span {
  padding-left: 3.33333vw;
  padding-right: 3.33333vw;
  color: #fff;
}

.product-option {
  font-size: 3.73333vw;
}

.product-option .selector {
  display: flex;
  align-items: center;
  height: 16vw;
  max-height: 172.8px;
  width: 84vw;
  max-width: 907.2px;
  margin-top: 7.33333vw;
  border-radius: 7.33333vw;
  border: 1px solid #22e4fc;
}

.product-option .selector select, .product-option .selector label {
  flex: 1;
}

.product-option .selector label {
  text-align: center;
  text-transform: uppercase;
}

.product-option .add-cart {
  height: 16vw;
  max-height: 172.8px;
  width: 84vw;
  max-width: 907.2px;
  background: #22e4fc;
  margin-top: 7.33333vw;
  margin-bottom: 7.33333vw;
  border-radius: 7.33333vw;
  text-transform: uppercase;
  color: #000;
}

.selector .select {
  position: relative;
  display: inline-block;
}

.selector .select select, .selector .select label {
  display: inline-block;
  cursor: pointer;
}

.selector .select-arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent transparent;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoicHJvZHVjdC5jc3MiLCJzb3VyY2VzIjpbInByb2R1Y3Quc2FzcyIsImhlbHBlcnMvX2NvbmZpZy5zYXNzIiwiaGVscGVycy9fY29udGFpbmVyLnNhc3MiLCJoZWxwZXJzL19sYXlvdXQtZmxleC5zYXNzIiwiaGVscGVycy9fZm9udC5zYXNzIiwiaGVscGVycy9fc3RhdHVzLnNhc3MiXSwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCBcIi4uLy4uLy4uLy4uL1Jlc291cmNlcy9pbml0L3Jlc3MuY3NzXCI7XG5AaW1wb3J0IFwiaGVscGVycy9jb25maWdcIjtcbkBpbXBvcnQgXCJoZWxwZXJzL2NvbnRhaW5lclwiO1xuQGltcG9ydCBcImhlbHBlcnMvbGF5b3V0LWZsZXhcIjtcbkBpbXBvcnQgXCJoZWxwZXJzL2ZvbnRcIjtcbkBpbXBvcnQgXCJoZWxwZXJzL3N0YXR1c1wiO1xuXG5ib2R5IHtcbiAgYmFja2dyb3VuZDogIzAwMDtcbiAgY29sb3I6ICM0ZTRlNGU7IH1cbi5jb250YWluZXIge1xuICBAZXh0ZW5kICVzYW5zO1xuICBAaW5jbHVkZSBib3hpbmcoYXV0bywgNjMwcHgsIHRyYW5zcGFyZW50LCAobGVmdDogZmx1aWQtc2l6ZSg2MHB4KSwgcmlnaHQ6IGZsdWlkLXNpemUoNjBweCkpKTsgfVxuLmhlYWRlciB7XG4gIEBpbmNsdWRlIGZsZXgtdmVydC1jZW50ZXI7XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgQGluY2x1ZGUgYm94aW5nKDEwMHB4LCA2MzBweCwgdHJhbnNwYXJlbnQsICh0b3A6IGZsdWlkLXNpemUoNTVweCkpKTtcbiAgaDIge1xuICAgIGZsZXg6IDE7XG4gICAgQGluY2x1ZGUgZmxleC1ob3ItY2VudGVyO1xuICAgIGZvbnQtc2l6ZTogZmx1aWQtc2l6ZSgyOHB4KTtcbiAgICBmb250LXdlaWdodDogNDAwO1xuICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gICAgY29sb3I6ICNmZmY7IH1cbiAgLmhlYWRlci1sZWZ0IHtcbiAgICBmbGV4OiAxO1xuICAgIEBpbmNsdWRlIGZsZXgtaG9yLWxlZnQ7XG4gICAgb3JkZXI6IC0xOyB9XG4gIC5oZWFkZXItcmlnaHQge1xuICAgIGZsZXg6IDE7XG4gICAgQGluY2x1ZGUgZmxleC1ob3ItcmlnaHQ7IH1cbiAgLmJ0bi1tZW51IGltZyB7XG4gICAgQGluY2x1ZGUgaW1hZ2UoNDNweCk7XG4gfSAgICAvLyAraG92ZXItc3ZnKCRzYW5kLCAjZmF2b3JpdGUpXG4gIC5idG4tYmFnIGltZyB7XG4gICAgQGluY2x1ZGUgaW1hZ2UoMzhweCk7XG4gfSB9ICAgIC8vICtob3Zlci1zdmcoJHNhbmQsICNzaG9wcGluZylcblxuLnByb2R1Y3QtaW1nIHtcbiAgQGluY2x1ZGUgZmxleC12ZXJ0LWNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICAubmlrZS1mbHluaXQge1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBAaW5jbHVkZSBib3hpbmcoNTkwcHgsIDU3MHB4KTtcbiAgICBpbWc6Zmlyc3QtY2hpbGQge1xuICAgICAgQGluY2x1ZGUgcG9zLWNlbnRlcig1MCUsIDUwJSwgMTAwKTtcbiAgICAgIEBpbmNsdWRlIGltYWdlKDIwMHB4KTsgfVxuICAgIGltZzpsYXN0LWNoaWxkIHtcbiAgICAgIEBpbmNsdWRlIHBvcy1jZW50ZXIoNTAlLCA1MCUsIDUwKTtcbiAgICAgIEBpbmNsdWRlIGltYWdlKDU3MHB4KTsgfSB9XG4gIC5wYWdpbmF0aW9uIGltZyB7XG4gICAgQGluY2x1ZGUgaW1hZ2UoMTZweCk7IH1cbiAgJjo6YmVmb3JlIHtcbiAgICBjb250ZW50OiAnJzsgfSB9XG5cbi5wcm9kdWN0LWluZm8ge1xuICAucHJvZHVjdC1uYW1lIHtcbiAgICBtYXJnaW4tdG9wOiBmbHVpZC1zaXplKDUwcHgpO1xuICAgIEBleHRlbmQgJW5vcndlc3RlcjtcbiAgICBmb250LXNpemU6IGZsdWlkLXNpemUoNjBweCk7XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgICBjb2xvcjogIzIyZTRmYzsgfVxuICAucHJvZHVjdC1jb3N0IHtcbiAgICBmb250LXNpemU6IGZsdWlkLXNpemUoMjhweCk7XG4gICAgY29sb3I6ICMyMmU0ZmM7XG4gICAgZGVsIHNwYW4ge1xuICAgICAgcGFkZGluZy1sZWZ0OiBmbHVpZC1zaXplKDI1cHgpO1xuICAgICAgcGFkZGluZy1yaWdodDogZmx1aWQtc2l6ZSgyNXB4KTtcbiAgICAgIGNvbG9yOiAjZmZmOyB9IH0gfVxuXG4ucHJvZHVjdC1vcHRpb24ge1xuICBmb250LXNpemU6IGZsdWlkLXNpemUoMjhweCk7XG4gIC5zZWxlY3RvciB7XG4gICAgQGluY2x1ZGUgZmxleC12ZXJ0LWNlbnRlcjtcbiAgICBAaW5jbHVkZSBib3hpbmcoMTIwcHgsIDYzMHB4LCBudWxsLCAodG9wOiBmbHVpZC1zaXplKDU1cHgpKSk7XG4gICAgYm9yZGVyLXJhZGl1czogZmx1aWQtc2l6ZSg1NXB4KTtcbiAgICBib3JkZXI6IDFweCBzb2xpZCAjMjJlNGZjO1xuICAgIHNlbGVjdCwgbGFiZWwge1xuICAgICAgZmxleDogMTsgfVxuICAgIGxhYmVsIHtcbiAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gfSB9ICAgICAgLy8rZmxleC1ob3ItY2VudGVyXG5cbiAgLmFkZC1jYXJ0IHtcbiAgICBAaW5jbHVkZSBib3hpbmcoMTIwcHgsIDYzMHB4LCAjMjJlNGZjLCAodG9wOiBmbHVpZC1zaXplKDU1cHgpLCBib3R0b206IGZsdWlkLXNpemUoNTVweCkpICk7XG4gICAgYm9yZGVyLXJhZGl1czogZmx1aWQtc2l6ZSg1NXB4KTtcbiAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICAgIGNvbG9yOiAjMDAwOyB9IH1cblxuXG4uc2VsZWN0b3Ige1xuICAuc2VsZWN0IHtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrOyB9XG4gIC5zZWxlY3Qgc2VsZWN0LCAuc2VsZWN0IGxhYmVsIHtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgY3Vyc29yOiBwb2ludGVyOyB9XG4gIC5zZWxlY3QtYXJyb3cge1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0b3A6IDE2cHg7XG4gICAgcmlnaHQ6IDE1cHg7XG4gICAgd2lkdGg6IDA7XG4gICAgaGVpZ2h0OiAwO1xuICAgIHBvaW50ZXItZXZlbnRzOiBub25lO1xuICAgIGJvcmRlci13aWR0aDogOHB4IDVweCAwIDVweDtcbiAgICBib3JkZXItc3R5bGU6IHNvbGlkO1xuICAgIGJvcmRlci1jb2xvcjogI0ZGRkZGRiB0cmFuc3BhcmVudCB0cmFuc3BhcmVudCB0cmFuc3BhcmVudDsgfSB9XG5cbiIsIiRjb2JhbHQ6ICMyMjViOTk7XG4kYmxhY2s6ICMzMzMzMzM7XG4kc2FuZDogI2RkYmE3NjtcbiRncmV5aXNoOiAjYTRhNGE0O1xuJGJsYWNrLXR3bzogIzIyMjIyMjtcbiRncmV5LWJnOiAjZDhkOGQ4O1xuJGJlaWdlOiAjZTRjYWJjO1xuJGdyZXktYm94OiAjZWZlZmVmO1xuJGNlcmlzZTogI2VkMTQ1YjtcbiR3aGl0ZS1iZzogI2ZjZmNmYztcbiR3aGl0ZS10YWI6ICNmOWY5Zjk7XG4kYmxhY2stdGhyZWU6ICMwMzAzMDM7XG4kZGlzYWJsZS1ncmV5OiAjODI4MjgyO1xuJG1hc2tpbmctYmxhY2s6ICMxQTFBMUE7XG4kZ3JleS11bml0OiAjQUZBRkFGO1xuJGRhcmstdGF1cGU6ICM3ODYwNGI7XG4kc3RlZWw6ICM3MDc2OGI7XG4kc2lsdmVyLWJnOiAjYmFiZmM1O1xuJGRhcmstc2xhdGUtYmx1ZTogIzIzNDY2YztcbiRibHVleS1ncmV5OiAjOGM5MmE2O1xuJGRhcms6ICMyNDI3MzI7XG4kdGFiLWJnOiAjZWFlYWVhO1xuXG4kY29sb3JzOiAoY29iYWx0OiAjMjI1Yjk5LGJsYWNrOiAjMzMzMzMzLHNhbmQ6ICNkZGJhNzYsZ3JleWlzaDogI2E0YTRhNCxibGFjay10d286ICMyMjIyMjIsZ3JleS1iZzogI2Q4ZDhkOCxiZWlnZTogI2U0Y2FiYyxncmV5LWJveDogI2VmZWZlZixjZXJpc2U6ICNlZDE0NWIsd2hpdGUtYmc6ICNmY2ZjZmMsd2hpdGUtdGFiOiAjZjlmOWY5LGJsYWNrLXRocmVlOiAjMDMwMzAzLGRpc2FibGUtZ3JleTogIzgyODI4MixtYXNraW5nLWJsYWNrOiAjMUExQTFBLGdyZXktdW5pdDogI0FGQUZBRixkYXJrLXRhdXBlOiAjNzg2MDRiLHN0ZWVsOiAjNzA3NjhiLHNpbHZlci1iZzogI2JhYmZjNSxkYXJrLXNsYXRlLWJsdWU6ICMyMzQ2NmMsYmx1ZXktZ3JleTogIzhjOTJhNixkYXJrOiAjMjQyNzMyLHRhYi1iZzogI2VhZWFlYSk7XG5cblxuQGZ1bmN0aW9uIGNvbG9yKCRrZXkpIHtcbiAgICBAaWYgbm90IG1hcC1oYXMta2V5KCRjb2xvcnMsICRrZXkpIHtcbiAgICAgICAgQHdhcm4gXCJLZXkgYCN7JGtleX1gIG5vdCBmb3VuZCBpbiAkY29sb3JzIG1hcC5cIjsgfVxuICAgIEByZXR1cm4gbWFwLWdldCgkY29sb3JzLCAka2V5KTsgfVxuIiwiJHNjcmVlbi13aWR0aDogMTA4MHB4O1xuJHNjcmVlbi1oZWlnaHQ6IDE5MjBweDtcblxuQGZ1bmN0aW9uIGZsdWlkLXNpemUoJHNpemUpIHtcbiAgQHJldHVybiAoJHNpemUqMS40NC8kc2NyZWVuLXdpZHRoKSoxMDAjeyd2dyd9OyB9XG5cbiVjb250YWluZXIge1xuICB3aWR0aDogJHNjcmVlbi13aWR0aDtcbiAgaGVpZ2h0OiAkc2NyZWVuLWhlaWdodDsgfVxuXG5AbWl4aW4gcG9zLWNlbnRlcigkbGVmdDogNTAlLCAkdG9wOiA1MCUsICRpbmRleDogbnVsbCkge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGxlZnQ6ICRsZWZ0O1xuICB0b3A6ICR0b3A7XG4gIHotaW5kZXg6ICRpbmRleDtcbiAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwtNTAlKTsgfVxuLy9cbi8vKiAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG4vLyogbWFyZ2luIO2VqOyImFxuXG5AbWl4aW4gbWFyZ2luKCRtYXJnaW4pIHtcbiAgLy8g66eI7KeEIOqwkiDstpTstpxcbiAgQGlmIHR5cGUtb2YoJG1hcmdpbikgPT0gbWFwIHtcbiAgICAvLyBAZGVidWcgJG1hcmdpblxuICAgIEBlYWNoICRkaXIsICR2YWx1ZSBpbiAkbWFyZ2luIHtcbiAgICAgIG1hcmdpbjoge1xuICAgICAgICAjeyRkaXJ9OiAkdmFsdWU7IH0gfSB9XG4gIC8vIOumrOyKpO2KuOydvCDqsr3smrBcbiAgQGlmIHR5cGUtb2YoJG1hcmdpbikgPT0gbGlzdCB7XG4gICAgQGlmIGxlbmd0aCgkbWFyZ2luKSA9PSAyIHtcbiAgICAgIG1hcmdpbjoge1xuICAgICAgICB0b3A6IG50aCgkbWFyZ2luLCAxKTtcbiAgICAgICAgbGVmdDogbnRoKCRtYXJnaW4sIDIpO1xuICAgICAgICByaWdodDogbnRoKCRtYXJnaW4sIDIpO1xuICAgICAgICBib3R0b206IG50aCgkbWFyZ2luLCAxKTsgfSB9XG4gICAgQGVsc2UgaWYgbGVuZ3RoKCRtYXJnaW4pID09IDMge1xuICAgICAgbWFyZ2luOiB7XG4gICAgICAgIHRvcDogbnRoKCRtYXJnaW4sIDEpO1xuICAgICAgICBsZWZ0OiBudGgoJG1hcmdpbiwgMik7XG4gICAgICAgIHJpZ2h0OiBudGgoJG1hcmdpbiwgMyk7XG4gICAgICAgIGJvdHRvbTogbnRoKCRtYXJnaW4sIDEpOyB9IH1cbiAgICBAZWxzZSBpZiBsZW5ndGgoJG1hcmdpbikgPT0gNCB7XG4gICAgICBtYXJnaW46IHtcbiAgICAgICAgdG9wOiBudGgoJG1hcmdpbiwgMSk7XG4gICAgICAgIGxlZnQ6IG50aCgkbWFyZ2luLCAyKTtcbiAgICAgICAgcmlnaHQ6IG50aCgkbWFyZ2luLCAzKTtcbiAgICAgICAgYm90dG9tOiBudGgoJG1hcmdpbiwgNCk7IH0gfSB9XG4gIEBlbHNlIGlmIHR5cGUtb2YoJG1hcmdpbikgPT0gbnVtYmVyIHtcbiAgICBtYXJnaW46ICRtYXJnaW47IH0gfVxuXG5cbkBtaXhpbiBwYWRkaW5nKCRwYWRkaW5nKSB7XG4gIC8vIO2MqOuUqSDqsJIg7LaU7LacIOqzvOyglVxuICBAaWYgdHlwZS1vZigkcGFkZGluZykgPT0gbWFwIHtcbiAgICAvLyBAZGVidWcgJHBhZGRpbmdcbiAgICBAZWFjaCAkZGlyLCAkdmFsdWUgaW4gJHBhZGRpbmcge1xuICAgICAgcGFkZGluZzoge1xuICAgICAgICAjeyRkaXJ9OiAkdmFsdWU7IH0gfSB9XG4gIC8vIOumrOyKpO2KuOydvCDqsr3smrBcbiAgQGlmIHR5cGUtb2YoJHBhZGRpbmcpID09IGxpc3Qge1xuICAgIEBpZiBsZW5ndGgoJHBhZGRpbmcpID09IDIge1xuICAgICAgcGFkZGluZzoge1xuICAgICAgICB0b3A6IG50aCgkcGFkZGluZywgMSk7XG4gICAgICAgIGxlZnQ6IG50aCgkcGFkZGluZywgMik7XG4gICAgICAgIHJpZ2h0OiBudGgoJHBhZGRpbmcsIDIpO1xuICAgICAgICBib3R0b206IG50aCgkcGFkZGluZywgMSk7IH0gfVxuICAgIEBlbHNlIGlmIGxlbmd0aCgkcGFkZGluZykgPT0gMyB7XG4gICAgICBwYWRkaW5nOiB7XG4gICAgICAgIHRvcDogbnRoKCRwYWRkaW5nLCAxKTtcbiAgICAgICAgbGVmdDogbnRoKCRwYWRkaW5nLCAyKTtcbiAgICAgICAgcmlnaHQ6IG50aCgkcGFkZGluZywgMyk7XG4gICAgICAgIGJvdHRvbTogbnRoKCRwYWRkaW5nLCAxKTsgfSB9XG4gICAgQGVsc2UgaWYgbGVuZ3RoKCRwYWRkaW5nKSA9PSA0IHtcbiAgICAgIHBhZGRpbmc6IHtcbiAgICAgICAgdG9wOiBudGgoJHBhZGRpbmcsIDEpO1xuICAgICAgICBsZWZ0OiBudGgoJHBhZGRpbmcsIDIpO1xuICAgICAgICByaWdodDogbnRoKCRwYWRkaW5nLCAzKTtcbiAgICAgICAgYm90dG9tOiBudGgoJHBhZGRpbmcsIDQpOyB9IH0gfSB9XG5cblxuLy9cbi8vKiAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG4vLyogPGJveCBtaXhpbj5cbi8vKiBtYXJnaW46IHRvcCBsZWZ0IHJpZ2h0IGJvdHRvbVxuXG5AbWl4aW4gYm94aW5nKCRoZWlnaHQsICR3aWR0aDogJHNjcmVlbi13aWR0aCwgJGJnOiBudWxsLCAkbWFyZ2luOiBudWxsLCAkcGFkZGluZzogbnVsbCkge1xuICAvLyBAZGVidWcgdHlwZS1vZigkaGVpZ2h0KVxuICBAaWYgdHlwZS1vZigkaGVpZ2h0KSA9PSBzdHJpbmcge1xuICAgIGhlaWdodDogICRoZWlnaHQ7IH1cbiAgQGVsc2Uge1xuICAgIGhlaWdodDogIGZsdWlkLXNpemUoJGhlaWdodCk7XG4gICAgbWF4LWhlaWdodDogJGhlaWdodCoxLjQ0OyB9XG4gIHdpZHRoOiAgZmx1aWQtc2l6ZSgkd2lkdGgpO1xuICBtYXgtd2lkdGg6ICR3aWR0aCoxLjQ0O1xuICBiYWNrZ3JvdW5kOiAkYmc7XG4gIEBpbmNsdWRlIG1hcmdpbigkbWFyZ2luKTtcbiAgQGluY2x1ZGUgcGFkZGluZygkcGFkZGluZyk7IH1cblxuXG5AbWl4aW4gaW1hZ2UoJHdpZHRoLCAkbWFyZ2luOiBudWxsKSB7XG4gIEBpbmNsdWRlIG1hcmdpbigkbWFyZ2luKTtcbiAgd2lkdGg6IGZsdWlkLXNpemUoJHdpZHRoKTtcbiAgbWF4LXdpZHRoOiAkd2lkdGgqMS40NDtcbiAgaGVpZ2h0OiBhdXRvOyB9XG4iLCJAbWl4aW4gZmxleC1ib3gge1xuICBkaXNwbGF5OiBmbGV4O1xuICBAY29udGVudDsgfVxuXG5AbWl4aW4gZmxleC1jZW50ZXIge1xuICBAaW5jbHVkZSBmbGV4LWJveCB7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjsgfSB9XG5cbkBtaXhpbiBmbGV4LXZlcnQtY2VudGVyIHtcbiAgQGluY2x1ZGUgZmxleC1ib3gge1xuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7IH0gfVxuXG5AbWl4aW4gZmxleC1ob3ItY2VudGVyIHtcbiAgIEBpbmNsdWRlIGZsZXgtYm94IHtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjsgfSB9XG5cbkBtaXhpbiBmbGV4LWhvci1sZWZ0IHtcbiAgQGluY2x1ZGUgZmxleC1ib3gge1xuICAgIGp1c3RpZnktY29udGVudDogZmxleC1zdGFydDsgfSB9XG5cbkBtaXhpbiBmbGV4LWhvci1yaWdodCB7XG4gIEBpbmNsdWRlIGZsZXgtYm94IHtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGZsZXgtZW5kOyB9IH1cblxuIiwiQGltcG9ydCB1cmwoaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3M/ZmFtaWx5PU9wZW4rU2Fucyk7XG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6ICdOb3J3ZXN0ZXInO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG4gIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG4gIHNyYzogbG9jYWwoXCJOb3J3ZXN0ZXJcIiksIHVybChcIi4uL2ZvbnQvbm9yd2VzdGVyL25vcndlc3Rlci53b2ZmXCIpIGZvcm1hdChcIndvZmZcIik7IH1cblxuJW5vcndlc3RlciB7XG4gIGZvbnQtZmFtaWx5OiAnTm9yd2VzdGVyJywgc2Fucy1zZXJpZjtcbiAgZm9udC13ZWlnaHQ6IDQwMDsgfVxuXG4lc2FucyB7XG4gIGZvbnQtZmFtaWx5OiAnT3BlbiBTYW5zJywgc2Fucy1zZXJpZjtcbiAgZm9udC13ZWlnaHQ6IDQwMDsgfVxuIiwiQG1peGluIGhvdmVyLWJnKCRjb2xvcjogbnVsbCkge1xuICB0cmFuc2l0aW9uOiAwLjNzO1xuICAmOmhvdmVyLCAmOmZvY3VzIHtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6ICRjb2xvcjsgfSB9XG5cbkBtaXhpbiBob3Zlci1zdmcoJGNvbG9yOiBudWxsLCAkaWQ6IG51bGwpIHtcbiAgJiAjeyRpZH0gcGF0aCwgJiAjeyRpZH0gcGF0aCB7XG4gICAgdHJhbnNpdGlvbjogMC4zczsgfVxuICAvLyBAaWYgdHlwZS1vZigkaWQpID09IGxpc3RcbiAgLy8gICBAZWFjaCAkaSBpbiAkaWRcbiAgLy8gICAgICY6aG92ZXIgI3skaX0gcGF0aCwgJjpmb2N1cyAjeyRpfSBwYXRoXG4gIC8vICAgICAgIGZpbGw6ICRjb2xvclxuICAvLyBAZWxzZVxuICAmOmhvdmVyICN7JGlkfSBwYXRoLCAmOmZvY3VzICN7JGlkfSBwYXRoIHtcbiAgICBmaWxsOiAkY29sb3I7IH0gfVxuIl0sIm1hcHBpbmdzIjoiQUFBQSxPQUFPLENBQVAsd0NBQU87QUlBUCxPQUFPLENBQUMsc0RBQUk7QUFDWixVQUFVO0VBQ1IsV0FBVyxFQUFFLFdBQVk7RUFDekIsVUFBVSxFQUFFLE1BQU87RUFDbkIsV0FBVyxFQUFFLE1BQU87RUFDcEIsR0FBRyxFQUFFLGtCQUFLLEVBQWUsdUNBQUcsQ0FBcUMsY0FBTTs7O0FKa0R6RSxBSWhEQSxhSmdEYSxDQUNYLGFBQWEsQ0lqREo7RUFDVCxXQUFXLEVBQUUsdUJBQXdCO0VBQ3JDLFdBQVcsRUFBRSxHQUFJO0NBQUc7O0FKQ3RCLEFJQ0EsVUpEVSxDSUNKO0VBQ0osV0FBVyxFQUFFLHVCQUF3QjtFQUNyQyxXQUFXLEVBQUUsR0FBSTtDQUFHOztBSk50QixBQUFBLElBQUksQ0FBQztFQUNILFVBQVUsRUFBRSxJQUFLO0VBQ2pCLEtBQUssRUFBRSxPQUFRO0NBQUc7O0FBQ3BCLEFBQUEsVUFBVSxDQUFDO0VFOEVQLE1BQU0sRUY1RVEsSUFBSTtFRWdGcEIsS0FBSyxFQXhGNkIsSUFBQztFQXlGbkMsU0FBUyxFQUFFLE9BQU07RUFDakIsVUFBVSxFRmxGbUIsV0FBVztFRWFwQyxNQUFNLEFBQUMsQ0FBQyxBQUNOLElBQU8sRUF0QnFCLEdBQUM7RUFxQi9CLE1BQU0sQUFBQyxDQUFDLEFBQ04sS0FBTyxFQXRCcUIsR0FBQztDRlE0RDs7QUFDakcsQUFBQSxPQUFPLENBQUM7RUdaTixPQUFPLEVBQUUsSUFBSztFQVVaLFdBQVcsRUFBRSxNQUFPO0VISXRCLGVBQWUsRUFBRSxhQUFjO0VFMkU3QixNQUFNLEVBdEYwQixVQUFDO0VBdUZqQyxVQUFVLEVBQUUsS0FBTztFQUNyQixLQUFLLEVBeEY2QixJQUFDO0VBeUZuQyxTQUFTLEVBQUUsT0FBTTtFQUNqQixVQUFVLEVGOUVvQixXQUFXO0VFU3JDLE1BQU0sQUFBQyxDQUFDLEFBQ04sR0FBTyxFQXRCcUIsU0FBQztDRmdDakM7O0FBdkJKLEFBSUUsT0FKSyxDQUlMLEVBQUUsQ0FBQztFQUNELElBQUksRUFBRSxDQUFFO0VHakJWLE9BQU8sRUFBRSxJQUFLO0VBY1osZUFBZSxFQUFFLE1BQU87RUhLeEIsU0FBUyxFRWhCdUIsU0FBQztFRmlCakMsV0FBVyxFQUFFLEdBQUk7RUFDakIsY0FBYyxFQUFFLFNBQVU7RUFDMUIsS0FBSyxFQUFFLElBQUs7Q0FBRzs7QUFWbkIsQUFXRSxPQVhLLENBV0wsWUFBWSxDQUFDO0VBQ1gsSUFBSSxFQUFFLENBQUU7RUd4QlYsT0FBTyxFQUFFLElBQUs7RUFrQlosZUFBZSxFQUFFLFVBQVc7RUhRNUIsS0FBSyxFQUFFLEVBQUc7Q0FBRzs7QUFkakIsQUFlRSxPQWZLLENBZUwsYUFBYSxDQUFDO0VBQ1osSUFBSSxFQUFFLENBQUU7RUc1QlYsT0FBTyxFQUFFLElBQUs7RUFzQlosZUFBZSxFQUFFLFFBQVM7Q0hPQTs7QUFqQjlCLEFBa0JZLE9BbEJMLENBa0JMLFNBQVMsQ0FBQyxHQUFHLENBQUM7RUVzRWQsS0FBSyxFQWpHNkIsU0FBQztFQWtHbkMsU0FBUyxFQUFFLE9BQU07RUFDakIsTUFBTSxFQUFFLElBQUs7Q0Z0RWI7O0FBcEJGLEFBcUJXLE9BckJKLENBcUJMLFFBQVEsQ0FBQyxHQUFHLENBQUM7RUVtRWIsS0FBSyxFQWpHNkIsU0FBQztFQWtHbkMsU0FBUyxFQUFFLE9BQU07RUFDakIsTUFBTSxFQUFFLElBQUs7Q0ZuRWI7O0FBRUYsQUFBQSxZQUFZLENBQUM7RUdyQ1gsT0FBTyxFQUFFLElBQUs7RUFVWixXQUFXLEVBQUUsTUFBTztFSDZCdEIsZUFBZSxFQUFFLGFBQWM7Q0FhWjs7QUFmckIsQUFHRSxZQUhVLENBR1YsWUFBWSxDQUFDO0VBQ1gsUUFBUSxFQUFFLFFBQVM7RUVnRG5CLE1BQU0sRUF0RjBCLFVBQUM7RUF1RmpDLFVBQVUsRUFBRSxPQUFPO0VBQ3JCLEtBQUssRUF4RjZCLElBQUM7RUF5Rm5DLFNBQVMsRUFBRSxPQUFNO0NGNUNhOztBQVhoQyxBQU1PLFlBTkssQ0FHVixZQUFZLENBR1YsR0FBRyxBQUFBLFlBQVksQ0FBQztFRWpDbEIsUUFBUSxFQUFFLFFBQVM7RUFDbkIsSUFBSSxFRmlDb0IsR0FBRztFRWhDM0IsR0FBRyxFRmdDMEIsR0FBRztFRS9CaEMsT0FBTyxFRitCMkIsR0FBRztFRTlCckMsU0FBUyxFQUFFLHFCQUFTO0VBc0ZwQixLQUFLLEVBakc2QixVQUFDO0VBa0duQyxTQUFTLEVBQUUsS0FBTTtFQUNqQixNQUFNLEVBQUUsSUFBSztDRnpEZTs7QUFSOUIsQUFTTyxZQVRLLENBR1YsWUFBWSxDQU1WLEdBQUcsQUFBQSxXQUFXLENBQUM7RUVwQ2pCLFFBQVEsRUFBRSxRQUFTO0VBQ25CLElBQUksRUZvQ29CLEdBQUc7RUVuQzNCLEdBQUcsRUZtQzBCLEdBQUc7RUVsQ2hDLE9BQU8sRUZrQzJCLEVBQUU7RUVqQ3BDLFNBQVMsRUFBRSxxQkFBUztFQXNGcEIsS0FBSyxFQWpHNkIsSUFBQztFQWtHbkMsU0FBUyxFQUFFLE9BQU07RUFDakIsTUFBTSxFQUFFLElBQUs7Q0Z0RGU7O0FBWDlCLEFBWWMsWUFaRixDQVlWLFdBQVcsQ0FBQyxHQUFHLENBQUM7RUVtRGhCLEtBQUssRUFqRzZCLFNBQUM7RUFrR25DLFNBQVMsRUFBRSxPQUFNO0VBQ2pCLE1BQU0sRUFBRSxJQUFLO0NGcERZOztBQWIzQixBQUFBLFlBQVksQUFjVCxRQUFRLENBQUM7RUFDUixPQUFPLEVBQUUsRUFBRztDQUFHOztBQUVuQixBQUNFLGFBRFcsQ0FDWCxhQUFhLENBQUM7RUFDWixVQUFVLEVFckRzQixTQUFDO0VGdURqQyxTQUFTLEVFdkR1QixHQUFDO0VGd0RqQyxjQUFjLEVBQUUsU0FBVTtFQUMxQixLQUFLLEVBQUUsT0FBUTtDQUFHOztBQU50QixBQU9FLGFBUFcsQ0FPWCxhQUFhLENBQUM7RUFDWixTQUFTLEVFM0R1QixTQUFDO0VGNERqQyxLQUFLLEVBQUUsT0FBUTtDQUlJOztBQWJ2QixBQVVRLGFBVkssQ0FPWCxhQUFhLENBR1gsR0FBRyxDQUFDLElBQUksQ0FBQztFQUNQLFlBQVksRUU5RGtCLFNBQUM7RUYrRC9CLGFBQWEsRUUvRGlCLFNBQUM7RUZnRS9CLEtBQUssRUFBRSxJQUFLO0NBQUc7O0FBRXJCLEFBQUEsZUFBZSxDQUFDO0VBQ2QsU0FBUyxFRW5FeUIsU0FBQztDRm9GaEI7O0FBbEJyQixBQUVFLGVBRmEsQ0FFYixTQUFTLENBQUM7RUd2RVYsT0FBTyxFQUFFLElBQUs7RUFVWixXQUFXLEVBQUUsTUFBTztFRCtFcEIsTUFBTSxFQXRGMEIsSUFBQztFQXVGakMsVUFBVSxFQUFFLE9BQU87RUFDckIsS0FBSyxFQXhGNkIsSUFBQztFQXlGbkMsU0FBUyxFQUFFLE9BQU07RUFwRWIsTUFBTSxBQUFDLENBQUMsQUFDTixHQUFPLEVBdEJxQixTQUFDO0VGdUVqQyxhQUFhLEVFdkVtQixTQUFDO0VGd0VqQyxNQUFNLEVBQUUsaUJBQWtCO0NBTTFCOztBQVpKLEFBT0ksZUFQVyxDQUViLFNBQVMsQ0FLUCxNQUFNLEVBUFYsQUFPWSxlQVBHLENBRWIsU0FBUyxDQUtDLEtBQUssQ0FBQztFQUNaLElBQUksRUFBRSxDQUFFO0NBQUc7O0FBUmpCLEFBU0ksZUFUVyxDQUViLFNBQVMsQ0FPUCxLQUFLLENBQUM7RUFDSixVQUFVLEVBQUUsTUFBTztFQUNuQixjQUFjLEVBQUUsU0FBVTtDQUM5Qjs7QUFaRixBQWNFLGVBZGEsQ0FjYixTQUFTLENBQUM7RUVNUixNQUFNLEVBdEYwQixJQUFDO0VBdUZqQyxVQUFVLEVBQUUsT0FBTztFQUNyQixLQUFLLEVBeEY2QixJQUFDO0VBeUZuQyxTQUFTLEVBQUUsT0FBTTtFQUNqQixVQUFVLEVGVHNCLE9BQU87RUU1RG5DLE1BQU0sQUFBQyxDQUFDLEFBQ04sR0FBTyxFQXRCcUIsU0FBQztFQXFCL0IsTUFBTSxBQUFDLENBQUMsQUFDTixNQUFPLEVBdEJxQixTQUFDO0VGa0ZqQyxhQUFhLEVFbEZtQixTQUFDO0VGbUZqQyxjQUFjLEVBQUUsU0FBVTtFQUMxQixLQUFLLEVBQUUsSUFBSztDQUFHOztBQUduQixBQUNFLFNBRE8sQ0FDUCxPQUFPLENBQUM7RUFDTixRQUFRLEVBQUUsUUFBUztFQUNuQixPQUFPLEVBQUUsWUFBYTtDQUFHOztBQUg3QixBQUlVLFNBSkQsQ0FJUCxPQUFPLENBQUMsTUFBTSxFQUpoQixBQUkwQixTQUpqQixDQUlTLE9BQU8sQ0FBQyxLQUFLLENBQUM7RUFDNUIsT0FBTyxFQUFFLFlBQWE7RUFDdEIsTUFBTSxFQUFFLE9BQVE7Q0FBRzs7QUFOdkIsQUFPRSxTQVBPLENBT1AsYUFBYSxDQUFDO0VBQ1osUUFBUSxFQUFFLFFBQVM7RUFDbkIsR0FBRyxFQUFFLElBQUs7RUFDVixLQUFLLEVBQUUsSUFBSztFQUNaLEtBQUssRUFBRSxDQUFFO0VBQ1QsTUFBTSxFQUFFLENBQUU7RUFDVixjQUFjLEVBQUUsSUFBSztFQUNyQixZQUFZLEVBQUUsYUFBYztFQUM1QixZQUFZLEVBQUUsS0FBTTtFQUNwQixZQUFZLEVBQUUsMkNBQTRDO0NBQUciLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
