body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#66CCFF, #8000FF);
}

button {
  float: left;
  text-transform: uppercase;
  width: 100px;
  height: 40px;
  position: relative;
  border: 0px solid transparent;
  background-image: linear-gradient(180deg, white, #B3B3B3);
  box-sizing: border-box;
  color: #808080
}

.audio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:first-child {
  border-radius: 20px 0 0 20px ;
}
button:nth-child(2) {
  border-left:1px solid #B3B3B3 ;
  border-right:1px solid #B3B3B3 ;
}
button:last-child {
  border-radius: 0 20px 20px 0;
}
button:hover {
  background-image: linear-gradient(180deg, white 50%, #B3B3B3);
}
button:focus:active {
  background-image: linear-gradient(180deg, #B3B3B3, white);
  color: #4C4C4C;
}
button:focus {
  outline: none;
  background-image: linear-gradient(180deg, #B3B3B3 50%, white);
  color: #4C4C4C;
}

.fa {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
}

.label {
  transform: translate(0, 50%);
}

