body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#66FFCC, #0080FF);
}

.audio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  float: left;
}
[class*="button"] {
  height: 35px;
  position: relative;
  border: 0px solid transparent;
  background-image: linear-gradient(180deg, white, #B3B3B3);
  margin: 0;
  box-sizing: border-box;
}
[class*="button"]:first-child {
  border-radius: 15px 0 0 15px ;
}
[class*="button"]:nth-child(2) {
  border-left:1px solid #666666 ;
  border-right:1px solid #666666 ;
}
[class*="button"]:last-child {
  border-radius: 0 15px 15px 0;
}
[class*="button"]:hover {
  background-image: linear-gradient(180deg, white 50%, #B3B3B3);
}
[class*="button"]:focus:active {
  background-image: linear-gradient(180deg, #B3B3B3, white);
  /*background-image: linear-gradient(180deg, white, #B3B3B3);*/
}
[class*="button"]:focus {
  outline: none;
  background-image: linear-gradient(180deg, #B3B3B3 50%, white);

}
.fa {
  position: absolute;
  top: 2px;
  left: 8px;
}

