@charset "utf-8";

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.col-s,
.col-s-1,
.col-s-2,
.col-s-3,
.col-s-4,
.col-s-5,
.col-s-6,
.col-s-7,
.col-s-8,
.col-s-9,
.col-s-10,
.col-s-11,
.col-s-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-s {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-s-1 { flex-basis: 8.333%; max-width: 8.333%; }
.col-s-2 { flex-basis: 16.667%; max-width: 16.667%; }
.col-s-3 { flex-basis: 25%; max-width: 25%; }
.col-s-4 { flex-basis: 33.333%; max-width: 33.333%; }
.col-s-5 { flex-basis: 41.667%; max-width: 41.667%; }
.col-s-6 { flex-basis: 50%; max-width: 50%; }
.col-s-7 { flex-basis: 58.333%; max-width: 58.333%; }
.col-s-8 { flex-basis: 66.667%; max-width: 66.667%; }
.col-s-9 { flex-basis: 75%; max-width: 75%; }
.col-s-10 { flex-basis: 83.333%; max-width: 83.333%; }
.col-s-11 { flex-basis: 91.667%; max-width: 91.667%; }
.col-s-12 { flex-basis: 100%; max-width: 100%; }

.col-s-offset-1 { margin-left: 8.333%; }
.col-s-offset-2 { margin-left: 16.667%; }
.col-s-offset-3 { margin-left: 25%; }
.col-s-offset-4 { margin-left: 33.333%; }
.col-s-offset-5 { margin-left: 41.667%; }
.col-s-offset-6 { margin-left: 50%; }
.col-s-offset-7 { margin-left: 58.333%; }
.col-s-offset-8 { margin-left: 66.667%; }
.col-s-offset-9 { margin-left: 75%; }
.col-s-offset-10 { margin-left: 83.333%; }
.col-s-offset-11 { margin-left: 91.667%; }

.start-s { justify-content: flex-start; text-align: start; }
.center-s { justify-content: center; text-align: center; }
.end-s { justify-content: flex-end; text-align: end; }
.top-s { align-items: flex-start; }
.middle-s { align-items: center; }
.bottom-s { align-items: flex-end; }
.around-s { justify-content: space-around; }
.between-s { justify-content: space-between; }
.first-s { order: -1; }
.last-s { order: 1; }


@media (min-width: 600px) {

.col-m,
.col-m-1,
.col-m-2,
.col-m-3,
.col-m-4,
.col-m-5,
.col-m-6,
.col-m-7,
.col-m-8,
.col-m-9,
.col-m-10,
.col-m-11,
.col-m-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-m {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-m-1 { flex-basis: 8.333%; max-width: 8.333%; }
.col-m-2 { flex-basis: 16.667%; max-width: 16.667%; }
.col-m-3 { flex-basis: 25%; max-width: 25%; }
.col-m-4 { flex-basis: 33.333%; max-width: 33.333%; }
.col-m-5 { flex-basis: 41.667%; max-width: 41.667%; }
.col-m-6 { flex-basis: 50%; max-width: 50%; }
.col-m-7 { flex-basis: 58.333%; max-width: 58.333%; }
.col-m-8 { flex-basis: 66.667%; max-width: 66.667%; }
.col-m-9 { flex-basis: 75%; max-width: 75%; }
.col-m-10 { flex-basis: 83.333%; max-width: 83.333%; }
.col-m-11 { flex-basis: 91.667%; max-width: 91.667%; }
.col-m-12 { flex-basis: 100%; max-width: 100%; }

.col-m-offset-1 { margin-left: 8.333%; }
.col-m-offset-2 { margin-left: 16.667%; }
.col-m-offset-3 { margin-left: 25%; }
.col-m-offset-4 { margin-left: 33.333%; }
.col-m-offset-5 { margin-left: 41.667%; }
.col-m-offset-6 { margin-left: 50%; }
.col-m-offset-7 { margin-left: 58.333%; }
.col-m-offset-8 { margin-left: 66.667%; }
.col-m-offset-9 { margin-left: 75%; }
.col-m-offset-10 { margin-left: 83.333%; }
.col-m-offset-11 { margin-left: 91.667%; }

.start-m { justify-content: flex-start; text-align: start; }
.center-m { justify-content: center; text-align: center; }
.end-m { justify-content: flex-end; text-align: end; }
.top-m { align-items: flex-start; }
.middle-m { align-items: center; }
.bottom-m { align-items: flex-end; }
.around-m { justify-content: space-around; }
.between-m { justify-content: space-between; }
.first-m { order: -1; }
.last-m { order: 1; }
}

@media (min-width: 900px) {

.col-l,
.col-l-1,
.col-l-2,
.col-l-3,
.col-l-4,
.col-l-5,
.col-l-6,
.col-l-7,
.col-l-8,
.col-l-9,
.col-l-10,
.col-l-11,
.col-l-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-l {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-l-1 { flex-basis: 8.333%; max-width: 8.333%; }
.col-l-2 { flex-basis: 16.667%; max-width: 16.667%; }
.col-l-3 { flex-basis: 25%; max-width: 25%; }
.col-l-4 { flex-basis: 33.333%; max-width: 33.333%; }
.col-l-5 { flex-basis: 41.667%; max-width: 41.667%; }
.col-l-6 { flex-basis: 50%; max-width: 50%; }
.col-l-7 { flex-basis: 58.333%; max-width: 58.333%; }
.col-l-8 { flex-basis: 66.667%; max-width: 66.667%; }
.col-l-9 { flex-basis: 75%; max-width: 75%; }
.col-l-10 { flex-basis: 83.333%; max-width: 83.333%; }
.col-l-11 { flex-basis: 91.667%; max-width: 91.667%; }
.col-l-12 { flex-basis: 100%; max-width: 100%; }

.col-l-offset-1 { margin-left: 8.333%; }
.col-l-offset-2 { margin-left: 16.667%; }
.col-l-offset-3 { margin-left: 25%; }
.col-l-offset-4 { margin-left: 33.333%; }
.col-l-offset-5 { margin-left: 41.667%; }
.col-l-offset-6 { margin-left: 50%; }
.col-l-offset-7 { margin-left: 58.333%; }
.col-l-offset-8 { margin-left: 66.667%; }
.col-l-offset-9 { margin-left: 75%; }
.col-l-offset-10 { margin-left: 83.333%; }
.col-l-offset-11 { margin-left: 91.667%; }

.start-l { justify-content: flex-start; text-align: start; }
.center-l { justify-content: center; text-align: center; }
.end-l { justify-content: flex-end; text-align: end; }
.top-l { align-items: flex-start; }
.middle-l { align-items: center; }
.bottom-l { align-items: flex-end; }
.around-l { justify-content: space-around; }
.between-l { justify-content: space-between; }
.first-l { order: -1; }
.last-l { order: 1; }
}