body * {
  box-sizing: border-box;
}

.grid-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid::after {
  cotent: '';
  display: block;
  clear: both;
}

[class*="unit-"] {
  float: left;
  padding: 1rem; 
  background: #66CCFF; 
  background-clip: content-box;
}

.unit-1 { width: 25%; }
.unit-2 { width: 50%; }
.unit-3 { width: 75%; }
.unit-4 { width: 100%; }