@media only screen and (max-width: 900px){
  body { width: 450px; }

  .longbox:hover::before,
  .longbox:active::before {
    display: block;
    content: "";
    border-right: 50px solid transparent;
    border-bottom: 50px solid #FFF1E2; 
    transform:rotate(135deg);
    position: absolute;
    left: 45%;
    top: -1%;
  }
  .speaker:nth-child(2n) img, .speaker:nth-child(2n) div { float: left; }
  .speaker:nth-child(2n-1) img, .speaker:nth-child(2n-1) div { float: right; }

  .speaker:nth-child(2n) div:hover::before,
  .speaker:nth-child(2n) div:active::before {
    display: block;
    content: "";
    border-right: 50px solid transparent;
    border-bottom: 50px solid #FFF1E2; 
    transform:rotate(45deg);
    position: absolute;
    left: -2%;
    top: 39%;
  }

  .speaker:nth-child(2n-1) div:not(.longbox):hover::after,
  .speaker:nth-child(2n-1) div:not(.longbox):active::after {
    display: block;
    content: "";
    border-right: 50px solid transparent;
    border-bottom: 50px solid #FFF1E2; 
    transform:rotate(225deg);
    position: absolute;
    right: -2%;
    top: 39%;
  }
}

@media only screen and (min-width: 900px){
  body { width: 900px; }

  .longbox:hover::before {
    display: block;
    content: "";
    border-right: 50px solid transparent;
    border-bottom: 50px solid #FFF1E2; 
    transform:rotate(45deg);
    position: absolute;
    left: -1%;
    top: 39%;
  }
  .speaker:first-child img, .speaker:first-child div,
  .speaker:nth-child(2) img, .speaker:nth-child(2) div,
  .speaker:nth-child(3) img, .speaker:nth-child(3) div { float: left; }
  
  .speaker:nth-child(4), .speaker:nth-child(5) { float: left }
  .speaker:nth-child(4) img, .speaker:nth-child(4) div,
  .speaker:nth-child(5) img, .speaker:nth-child(5) div { float: right; }

  .speaker:nth-child(2) div:hover::before,
  .speaker:nth-child(3) div:hover::before {
    display: block;
    content: "";
    border-right: 50px solid transparent;
    border-bottom: 50px solid #FFF1E2; 
    transform:rotate(45deg);
    position: absolute;
    left: -2%;
    top: 39%;
  }

  .speaker:nth-child(4) div:hover::after,
  .speaker:nth-child(5) div:hover::after {
    display: block;
    content: "";
    border-right: 50px solid transparent;
    border-bottom: 50px solid #FFF1E2; 
    transform:rotate(225deg);
    position: absolute;
    right: -2%;
    top: 39%;
  }
}
body {
  margin-right: auto;
  margin-left: auto;
}

.box {
    text-align: center;
    width: 225px;
    height: 231px;
    position: relative;
}

.longbox {
    text-align: center;
    width: 450px;
    height: 231px;
    position: relative;
}

hr {
    margin-bottom: 15px;
    width: 60px;
}

h3 {
    margin-top: 55px;
    margin-bottom: 18px;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 1.1;
    color: #464646;
}

p {
    margin-bottom: 13px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.5;
    color: #464646;
}

div:hover {
    background: #FFF1E2;
}

.icon-twitter {
    width: 20px;
    height: 20px;
}

.icon-twitter:hover {
    fill: #4BA5DE;
    width: 20px;
    height: 20px;
}
