html {
  font-size: 100%;
}

body {
  width: 80vmax;
  margin: 0 auto;

  /*font-size: 0.875rem;*/
  font-size: 1rem;

  /*행간설정*/
  line-height: 1.5rem;


  /*배경 이미지 삽입*/
  background-image: url(../../Resources/leading.png);
}


p, img {
  margin-bottom: 1.5rem;
}

img {
  vertical-align: bottom;
  }

.small-caps {
  font-variant: small-caps;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}

/*
font: size / line-height family;
font: style weight size / line-height family; 
*/

.font-short-properties {
  font: italic bold small-caps 1.2rem/2rem Sans-serif;
}

.spoqa {
  font-family: "Spoqa Han Sans";
  font-weight: 200;
  letter-spacing: -0.02em;
  /*word-spacing: ;*/
}

/*
IR 테크닉 (이미지 대체 기법)
*/

/**
 * --------------------------------
 * IR 테크닉 (이미지 대체 기법)
 * ----------------------------- */

.brand-tweetle {
  /*display: block;*/
  width: 32px;
  height: 32px;
  background-image: url("https://cdn4.iconfinder.com/data/icons/tweetle/rest_in_tweetle_peace.png");
  background-repeat: no-repeat;
  text-indent: -9999em;
  overflow: hidden;
  margin-bottom: 18px;

}

.brand-tweetle a {
  display: block;
}