@import helpers/normalize
@import helpers/config
@import helpers/container
@import helpers/layout-flex
@import helpers/font
@import helpers/status

body
  background-color: #eff3f6
  @extend %sans
.header
  +flex-align-center(v)
  justify-content: space-between
  +boxing(unquote('70px'), unquote('100%'), linear-gradient(to top, #1991eb 0%, #2ea1f8 100%), null, (left: 30px, right: 30px))
  box-sizing: border-box
  .logo
    +image(44px)
  .menu
    +flex-align-center(v)
  .menu a
    margin-right: 30px
    font-size: 14px
    color: #fff
    text-decoration: none
  .menu .menu-project 
    +flex-align-center(v)
    img
      padding-left: 14px
    // line-height: 44px
  .profile
    +flex-align-center(v)
    img
      padding-left: 10px

.summary
  +flex-align-center
  +boxing(unquote('120px'), unquote('auto'), #fff, (left: auto, right: auto))
  box-shadow: 0px 1px 1px #888888
  article
    +boxing(unquote('120px'), unquote('220px'))
    text-align: center
  h3
    margin-top: 19px
    margin-bottom: 0
    color: #9fa9ba
    font-size: 14px
    font-weight: 600
    text-transform: uppercase
  p
    margin-top: 20px
    margin-bottom: 0
    color: #1d2531
    font-size: 36px
    font-weight: 400
    line-height: 40px

.boards 
  width: 870px
  margin-top: 30px
  margin-left: auto
  margin-right: auto
  .row-1, .row-2
    +flex-align-center(v)
    justify-content: space-between
    margin-bottom: 30px
  .world, .product-sales
    +boxing(unquote('360px'), unquote('420px'), #fff)
    box-sizing: border-box
    // padding: 30px
    border: 1px solid #e6eaee
    border-top: 4px solid #1992eb
    border-radius: 4px
    h3
      margin:
        left: 30px
      color: #1d2531
      font-size: 24px
  .daily-sales, .customers, .profit
    +boxing(unquote('377px'), unquote('270px'), #fff)
    box-sizing: border-box
    border: 1px solid #e6eaee
    border-radius: 4px
    h3
      margin-left: 30px
      color: #354052
      font-size: 20px

.world
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: flex-start
  img
    width: 370px
    height: auto
  .header-world
    flex-basis: 100%
    +flex-align-center(v)
    justify-content: space-between
    h3
      margin:
        bottom: 0
    p
      margin:
        top: 30px
        bottom: 0
        right: 30px
      color: #9fa9ba
      font-size: 18px
      font-weight: 400
  .value-world
    +flex-align-center(v, row wrap)
    justify-content: space-around
    padding:
      left: 30px
      right: 30px
    .data
      box-sizing: border-box
      padding-right: 10px
      flex: 1 0 50%
      +flex-align-center(v)
      justify-content: space-between
      color: #333c48
      font-size: 14px
      font-weight: 600
      line-height: 30px
      span
       +flex-align-center(v)
    .data span:first-child::before
      display: inline-block
      content: ''
      width: 10px
      height: 10px
      margin-right: 9px
      border: 2px solid #000
      border-radius: 50%
    .data.usa span:first-child::before
      border: 2px solid #0ea1d4
    .data.brazil span:first-child::before
      border: 2px solid #fac942
    .data.australia span:first-child::before
      border: 2px solid #3fc529
    .data.china span:first-child::before
      border: 2px solid #ff7800
    .data.france span:first-child::before
      border: 2px solid #3373b3
    .data.thailand span:first-child::before
      border: 2px solid #40557d

.product-sales
  display: flex
  flex-flow: column wrap
  justify-content: flex-start
  align-items: center
  h3
    align-self: flex-start
    margin-bottom: 20px
.wbar 
  .wbar-name
    +flex-align-center(v)
    justify-content: space-between
    span
      +flex-align-center(v)
      font-size: 14px
      line-height: 36px
      &:first-child
        color: #333c48
      &:last-child
        color: #9fa9ba
  .bar
    position: relative
    width: 360px
    height: 18px
    margin-bottom: 8px
    border-radius: 9px
    background-color: #e2e7ee
  .value
    position: absolute
    height: 18px
    border-radius: 9px
  .wbar-name span:first-child::before
    display: inline-block
    content: ''
    width: 10px
    height: 10px
    margin-right: 9px
    border: 2px solid #000
    border-radius: 50%
  &.blue span:first-child::before
    border: 2px solid #0ea1d4
  &.blue .value
    // width: 292px
    // background-image: linear-gradient(to top, #1991eb 0%, #2ea1f8 100%)
  &.purple span:first-child::before
    border: 2px solid #8e76e4
  &.purple .value
    // width: 222px
    // background-image: linear-gradient(to top, #7f5be6 0%, #7f5be6 1%, #9d8fe3 100%)
  &.green span:first-child::before
    border: 2px solid #3fc529
  &.green .value
    // width: 144px
    // background-image: linear-gradient(to top, #24b00d 0%, #59da44 100%)
  &.yellow span:first-child::before
    border: 2px solid #fac942
  &.yellow .value
    // width: 92px
    // background-image: linear-gradient(to top, #fdba00 0%, #f8cf5d 100%)


